Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.6.10
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.6.10
  .hgtags
Due: none

Prepare release tryton-7.0.34
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.0.34
  .hgtags
Due: none

Prepare release tryton-6.0.60
  tryton/CHANGELOG
Due: documentation

Add tag tryton-6.0.60
  .hgtags
Due: none

Prepare release sao-7.8.6
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.6
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.6.17
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.17
  .hgtags
Due: none

Prepare release sao-7.0.46
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.46
  .hgtags
Due: none

Prepare release sao-6.0.74
  sao/CHANGELOG
Due: documentation

Add tag sao-6.0.74
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release web_shop-7.8.1
  modules/web_shop/CHANGELOG
Due: documentation

Add tag web_shop-7.8.1
  .hgtags
Due: none

Increase version number
  modules/web_shop/tryton.cfg
Due: documentation

Prepare release timesheet_cost-7.8.1
  modules/timesheet_cost/CHANGELOG
  modules/timesheet_cost/COPYRIGHT
Due: documentation

Add tag timesheet_cost-7.8.1
  .hgtags
Due: none

Increase version number
  modules/timesheet_cost/tryton.cfg
Due: documentation

Prepare release timesheet_cost-7.6.1
  modules/timesheet_cost/CHANGELOG
  modules/timesheet_cost/COPYRIGHT
Due: documentation

Add tag timesheet_cost-7.6.1
  .hgtags
Due: none

Prepare release timesheet_cost-7.0.1
  modules/timesheet_cost/CHANGELOG
  modules/timesheet_cost/COPYRIGHT
Due: documentation

Add tag timesheet_cost-7.0.1
  .hgtags
Due: none

Prepare release timesheet_cost-6.0.1
  modules/timesheet_cost/CHANGELOG
  modules/timesheet_cost/COPYRIGHT
Due: documentation

Add tag timesheet_cost-6.0.1
  .hgtags
Due: none

Prepare release timesheet-7.8.1
  modules/timesheet/CHANGELOG
  modules/timesheet/COPYRIGHT
Due: documentation, test-demo

Add tag timesheet-7.8.1
  .hgtags
Due: none

Increase version number
  modules/timesheet/tryton.cfg
Due: documentation, test-demo
