Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release stock-8.0.4
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-8.0.4
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release stock-7.8.6
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-7.8.6
  .hgtags
Due: none

Prepare release sale_advance_payment-8.0.1
  modules/sale_advance_payment/CHANGELOG
Due: documentation

Add tag sale_advance_payment-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_advance_payment/tryton.cfg
Due: documentation

Prepare release sale_advance_payment-7.8.2
  modules/sale_advance_payment/CHANGELOG
Due: documentation

Add tag sale_advance_payment-7.8.2
  .hgtags
Due: none

Prepare release sale_advance_payment-7.0.4
  modules/sale_advance_payment/CHANGELOG
  modules/sale_advance_payment/COPYRIGHT
Due: documentation

Add tag sale_advance_payment-7.0.4
  .hgtags
Due: none

Prepare release sale-8.0.5
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-8.0.5
  .hgtags
Due: none

Increase version number
  modules/sale/tryton.cfg
Due: documentation, test-demo

Prepare release sale-7.8.6
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-7.8.6
  .hgtags
Due: none

Prepare release sale-7.0.20
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-7.0.20
  .hgtags
Due: none

Prepare release purchase_amendment-8.0.2
  modules/purchase_amendment/CHANGELOG
Due: documentation

Add tag purchase_amendment-8.0.2
  .hgtags
Due: none

Increase version number
  modules/purchase_amendment/tryton.cfg
Due: documentation

Prepare release purchase_amendment-7.8.3
  modules/purchase_amendment/CHANGELOG
Due: documentation

Add tag purchase_amendment-7.8.3
  .hgtags
Due: none

Prepare release purchase_amendment-7.0.5
  modules/purchase_amendment/CHANGELOG
Due: documentation

Add tag purchase_amendment-7.0.5
  .hgtags
Due: none

Prepare release purchase-8.0.3
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-8.0.3
  .hgtags
Due: none

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-7.8.4
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.8.4
  .hgtags
Due: none

Prepare release purchase-7.0.19
  modules/purchase/CHANGELOG
Due: documentation, test-demo
