Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Remove unnecessary depends for on_change_product of purchase requisition line
  modules/purchase_requisition/purchase.py
Due: check-flake8, check-isort

Do not fetch sub fields definition when prefetching views
  trytond/trytond/model/modelview.py
Due: check-flake8, check-isort

Center checkbox in editable tree
  sao/src/sao.less
Due: none

Do not dumps/loads context domain in URL
  sao/src/sao.js
  sao/src/screen.js
  tryton/tryton/gui/main.py
  tryton/tryton/gui/window/view_form/screen/screen.py
Due: check-flake8, check-isort, check-eslint

Return Gateway Timeout instead of Request Timeout for database timeout
  trytond/trytond/protocols/dispatcher.py
Due: check-flake8, check-isort

Add missing duration argument to database timeout warning
  trytond/trytond/protocols/dispatcher.py
Due: check-flake8, check-isort

Add a timer to prevent requests from lasting longer than their timeout
  trytond/CHANGELOG
  trytond/doc/ref/exceptions.rst
  trytond/trytond/exceptions.py
  trytond/trytond/protocols/dispatcher.py
  trytond/trytond/tests/test_protocols.py
Due: documentation, check-flake8, check-isort

Add documentation for DatabaseTimeoutError
  trytond/doc/ref/backend.rst
Due: documentation

Remove direct URL to DPD documentation
  modules/stock_package_shipping_dpd/doc/index.rst
Due: documentation

Show companies field of cron only for methods that need them
  modules/account/ir.py
  modules/account_fr_chorus/ir.py
  modules/account_payment_braintree/ir.py
  modules/account_payment_braintree/tests/scenario_account_payment_braintree.rst
  modules/account_payment_clearing/ir.py
  modules/account_payment_stripe/ir.py
  modules/account_payment_stripe/tests/scenario_account_payment_stripe.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_dispute.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_identical.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_intent.rst
  modules/account_payment_stripe/tests/scenario_account_payment_stripe_refund_failure.rst
  modules/account_receivable_rule/ir.py
  modules/company/ir.py
  modules/product_price_list_cache/ir.py
  modules/sale/ir.py
  modules/sale_payment/ir.py
  modules/sale_subscription/ir.py
  modules/stock/ir.py
  modules/stock_quantity_issue/ir.py
  modules/stock_supply/ir.py
Due: check-flake8, check-isort, test-demo

Show warehouses field of cron only for methods that need them
  modules/product_cost_warehouse/ir.py
Due: check-flake8, check-isort

Do not copy vlist in ModelSQL.create
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Set an UPS account number to the custom agent in test scenario
  modules/stock_package_shipping_ups/tests/scenario_stock_package_shipping_ups_international.rst
Due: check-flake8, check-isort

Retry unfinished queued tasks
  doc/migration.rst
  trytond/CHANGELOG
  trytond/trytond/ir/cron.py
  trytond/trytond/ir/error.py
  trytond/trytond/ir/queue.xml
  trytond/trytond/ir/queue_.py
  trytond/trytond/worker.py
Due: documentation, check-flake8, check-isort

Always use the shipment address of the sale as delivery address for the shipment
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Update Shopify product if any variant of the product has been removed
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Optimise stock quantity computations for warehouses only
  modules/stock/move.py
Due: check-flake8, check-isort, test-demo

Define index using COALESCE for nullable Char fields
  modules/account/tax.py
  modules/analytic_account/account.py
  modules/party/country.py
  modules/product/product.py
  modules/project/work.py
  modules/purchase/product.py
  modules/purchase/purchase.py
  modules/purchase_blanket_agreement/purchase.py
  modules/purchase_request_quotation/purchase.py
  modules/quality/quality.py
  modules/sale/sale.py
  modules/sale_blanket_agreement/sale.py
  modules/sale_complaint/complaint.py
  modules/sale_opportunity/opportunity.py
  modules/sale_rental/pyproject.toml
  modules/sale_rental/sale.py
  modules/sale_subscription/subscription.py
  modules/stock/location.py
  modules/stock/shipment.py
  modules/web_user/user.py
  trytond/trytond/ir/translation.py
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort, test-demo

Define index using COALESCE for nullable Char fields
  modules/account/tax.py
  modules/analytic_account/account.py
  modules/party/country.py
  modules/product/product.py
  modules/purchase/product.py
  modules/purchase/purchase.py
  modules/purchase_blanket_agreement/purchase.py
  modules/purchase_request_quotation/purchase.py
  modules/sale/sale.py
  modules/sale_blanket_agreement/sale.py
  modules/sale_complaint/complaint.py
  modules/sale_opportunity/opportunity.py
  modules/sale_rental/sale.py
  modules/sale_rental/setup.py
  modules/sale_subscription/subscription.py
  modules/stock/location.py
  modules/stock/shipment.py
  modules/web_user/user.py
  trytond/trytond/ir/translation.py
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort, test-demo

Add bulk_create, bulk_delete, bulk_save and bulk_func to ModelStorage
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/test_modelstorage.py
Due: documentation, check-flake8, check-isort

Format numeric values in XML templates using fixed-point notation
  modules/account_payment_sepa/template/pain.001.001.03.xml
  modules/account_payment_sepa/template/pain.001.001.05.xml
  modules/account_payment_sepa/template/pain.001.003.03.xml
  modules/account_payment_sepa/template/pain.008.001.02.xml
  modules/account_payment_sepa/template/pain.008.001.04.xml
  modules/account_payment_sepa/template/pain.008.003.02.xml
  modules/account_payment_sepa_cfonb/template/pain.001.001.03-cfonb.xml
  modules/account_payment_sepa_cfonb/template/pain.008.001.02-cfonb.xml
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: check-flake8, check-isort

Format numeric values in XML templates using fixed-point notation
  modules/account_payment_sepa/template/pain.001.001.03.xml
  modules/account_payment_sepa/template/pain.001.001.05.xml
  modules/account_payment_sepa/template/pain.001.003.03.xml
  modules/account_payment_sepa/template/pain.008.001.02.xml
  modules/account_payment_sepa/template/pain.008.001.04.xml
  modules/account_payment_sepa/template/pain.008.003.02.xml
  modules/account_payment_sepa_cfonb/template/pain.001.001.03-cfonb.xml
  modules/account_payment_sepa_cfonb/template/pain.008.001.02-cfonb.xml
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: none
