Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Sort advance payment invoices on Function fields of sale
  modules/sale_advance_payment/sale.py
  modules/sale_advance_payment/tests/scenario_advance_payment.rst
Due: check-flake8, check-isort

Prepare release trytond-gis-7.8.1
  trytond-gis/CHANGELOG
  trytond-gis/COPYRIGHT
Due: documentation

Add tag trytond-gis-7.8.1
  .hgtags
Due: none

Increase version number
  trytond-gis/trytond_gis/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-gis-7.0.2
  trytond-gis/CHANGELOG
  trytond-gis/COPYRIGHT
Due: documentation

Add tag trytond-gis-7.0.2
  .hgtags
Due: none

Validate stdnum code before compacting and formatting it
  modules/party/party.py
Due: check-flake8, check-isort, test-demo

Show price and currency fields on stock move when they are not required but still filled
  modules/stock/move.py
Due: check-flake8, check-isort, test-demo

Do not make buttons read-only based on groups for administrator users
  trytond/trytond/model/modelview.py
Due: check-flake8, check-isort

Trim trailing spaces in UNCL7161 codes
  modules/edocument_unece/product.py
Due: check-flake8, check-isort

Use total package weight and volume as shipment weight for PDP
  modules/stock_package_shipping_dpd/stock.py
  modules/stock_package_shipping_dpd/tests/scenario_shipping_dpd.rst
Due: check-flake8, check-isort

Compute the minimal width of a treeview on display as it's done when parsing
  sao/src/view/tree.js
Due: check-eslint

Prepare release trytond-8.0.11
  trytond/CHANGELOG
Due: documentation

Add tag trytond-8.0.11
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.8.17
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.8.17
  .hgtags
Due: none

Prepare release trytond-7.0.58
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.58
  .hgtags
Due: none

Prepare release sao-8.0.12
  sao/CHANGELOG
Due: documentation

Add tag sao-8.0.12
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.8.19
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.19
  .hgtags
Due: none

Prepare release sao-7.0.59
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.59
  .hgtags
Due: none

Prepare release web_shop_shopify-8.0.7
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-8.0.7
  .hgtags
Due: none

Increase version number
  modules/web_shop_shopify/tryton.cfg
Due: documentation

Prepare release stock_package_shipping_ups-8.0.2
  modules/stock_package_shipping_ups/CHANGELOG
Due: documentation

Add tag stock_package_shipping_ups-8.0.2
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping_ups/tryton.cfg
Due: documentation
