Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Remove cost separator in stock move form
  modules/stock/view/move_form.xml
Due: test-demo

Do not display commission price on stock move if not set
  modules/commission/stock.py
Due: check-flake8, check-isort

Move invoice payment methods entry under invoice payments menu
  modules/account_invoice/doc/design.rst
  modules/account_invoice/invoice.xml
Due: documentation, test-demo

Add row factory to cursor
  modules/account/tax.py
  modules/account_payment/payment.py
  modules/account_statement/journal.py
  modules/account_stock_eu_excise/account_stock_eu.py
  trytond/CHANGELOG
  trytond/doc/ref/backend.rst
  trytond/trytond/backend/__init__.py
  trytond/trytond/backend/postgresql/__init__.py
  trytond/trytond/backend/postgresql/database.py
  trytond/trytond/backend/sqlite/__init__.py
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/ir/model.py
  trytond/trytond/ir/translation.py
  trytond/trytond/model/modelsql.py
  trytond/trytond/tools/__init__.py
Due: documentation, check-flake8, check-isort, test-demo

Do not prefetch columns when searching for RPC
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Use also maturity date to calculate reconciliation date
  doc/migration.rst
  modules/account/CHANGELOG
  modules/account/move.py
Due: documentation, check-flake8, check-isort, test-demo

Use current record context when rendering email templates
  sao/src/window.js
  tryton/tryton/gui/window/email_.py
Due: check-flake8, check-isort, check-eslint

Use Pool classes attributes to get allowed pool types
  trytond/trytond/modules/__init__.py
  trytond/trytond/pool.py
Due: check-flake8, check-isort

Add row factory for postgis backend
  trytond-gis/trytond_gis/postgis/__init__.py
Due: check-flake8, check-isort

Convert toolbar into mutable objects before modification
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Sort selection strings without key function
  tryton/tryton/gui/window/view_form/view/screen_container.py
Due: check-flake8, check-isort

Restrict Genshi evaluation
  trytond/CHANGELOG
  trytond/trytond/__init__.py
  trytond/trytond/_safe_genshi.py
  trytond/trytond/tests/test_genshi.py
Due: documentation, check-flake8, check-isort

Skip second update of chart of account when template is overridden
  modules/account/account.py
Due: check-flake8, check-isort, test-demo

Replace getattr by hasattr in report (grafted from 1a0574d67704d7acbd7c224d906a4be12aaf3423)
  modules/account/general_ledger.fodt
  modules/edocument_ubl/template/2/base.xml
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
  modules/stock_shipment_customs/commercial_invoice.fodt
Due: test-demo

Replace getattr by hasattr in report (grafted from 1a0574d67704d7acbd7c224d906a4be12aaf3423)
  modules/account/general_ledger.fodt
Due: test-demo

Replace getattr by hasattr in report
  modules/account/general_ledger.fodt
  modules/edocument_ubl/template/2/base.xml
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
  modules/stock_shipment_customs/commercial_invoice.fodt
Due: test-demo

Replace getattr by hasattr in report (grafted from 1a0574d67704d7acbd7c224d906a4be12aaf3423)
  modules/account/general_ledger.fodt
  modules/stock_shipment_customs/commercial_invoice.fodt
Due: test-demo

Save the new ir.model.data instances before calling functions on them
  trytond/trytond/convert.py
Due: check-flake8, check-isort

Complete selection value in domain parser using contains matcher
  sao/src/common.js
  sao/tests/index.html
  sao/tests/sao.js
  tryton/tryton/common/domain_parser.py
  tryton/tryton/tests/test_common_domain_parser.py
Due: check-flake8, check-isort, check-eslint

Do not strip wildcard for number clause when searching work per record name
  modules/project/work.py
Due: check-flake8, check-isort, test-demo

Support query without where clause when searching on Many2One with where operator
  trytond/trytond/model/fields/many2one.py
  trytond/trytond/tests/test_field_many2one.py
Due: check-flake8, check-isort
