Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Use the initial precision when applying factor to a field without digits
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/field.py
Due: check-flake8, check-isort, check-eslint

Use the initial precision when applying factor to a field without digits
  sao/src/model.js
Due: check-eslint

Add option to order products from web shop
  modules/web_shop/web.py
Due: check-flake8, check-isort

Fix placeholder errors in tryton translations
  tryton/tryton/data/locale/ca/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/et/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/fa/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/id/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/lo/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/lt/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/pl/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/ro/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/sl/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/uk/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/zh_CN/LC_MESSAGES/tryton.po
Due: none

Fix placeholder errors in tryton translations (grafted from 78491c0f24eee28b3ba9e46ea89ab88027166060)
  tryton/tryton/data/locale/ca/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/et/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/fa/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/id/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/lo/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/lt/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/pl/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/ro/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/sl/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/uk/LC_MESSAGES/tryton.po
  tryton/tryton/data/locale/zh_CN/LC_MESSAGES/tryton.po
Due: none

Use SQL queries to restore history
  trytond/trytond/model/modelsql.py
  trytond/trytond/tests/history.py
  trytond/trytond/tests/test_history.py
Due: check-flake8, check-isort

Store URL to open before getting the preferences
  sao/src/sao.js
Due: check-eslint

Import multiselection field as CSV list
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/import_data.py
  trytond/trytond/tests/test_importdata.py
Due: check-flake8, check-isort

Support export of xxx2many fields as list of name
  trytond/CHANGELOG
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/test_exportdata.py
Due: documentation, check-flake8, check-isort

Remove explicit record name from export of relation field
  sao/src/window.js
  tryton/tryton/gui/window/win_export.py
Due: check-flake8, check-isort, check-eslint

Support import of one2many as list of name
  trytond/CHANGELOG
  trytond/trytond/model/modelstorage.py
Due: documentation, check-flake8, check-isort

Export Many2One and Reference using record name
  trytond/CHANGELOG
  trytond/trytond/model/modelstorage.py
Due: documentation, check-flake8, check-isort

Apply filter on icon under primary background
  sao/src/sao.less
Due: none

Improve error message when delete or modify reconciled line
  modules/account/message.xml
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Export multiselection field as CSV list
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/export_data.py
  trytond/trytond/tests/test_exportdata.py
Due: check-flake8, check-isort

Use class access model when testing for parent access (grafted from f2734a16eb1d28f654ffc3ae6cd45b9d2af8726e)
  trytond/trytond/tests/test_access.py
Due: check-flake8, check-isort
