Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Get ir.model Model from the pool
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Make component fields readonly on non draft sale and purchase
  modules/product_kit/common.py
  modules/product_kit/purchase.py
  modules/product_kit/sale.py
Due: check-flake8, check-isort

Enforce non-goods product to not be consumable
  modules/product/product.py
Due: check-flake8, check-isort, test-demo

Set One-Click header to unsubscribe from marketing mailing list
  modules/marketing_email/CHANGELOG
  modules/marketing_email/marketing.py
Due: documentation, check-flake8, check-isort

Clarify that non deductible taxes apply for supplier invoices (grafted from 38060efa0ebcf18c8e91dea5eed0a9d19a5adf5b)
  modules/account_tax_non_deductible/doc/design.rst
Due: documentation

Clarify that non deductible taxes apply for supplier invoices
  modules/account_tax_non_deductible/doc/design.rst
Due: documentation

Use email tools to format address for marketing email
  modules/marketing_email/marketing.py
Due: check-flake8, check-isort

Test if party is set before using its record name for reconciliation error message
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Fix parameter name for check_modification in the documentation (grafted from 22b34b5858e9f39e67ea52b712f98f4c8e7f1732)
  trytond/doc/ref/models.rst
Due: documentation

Fix parameter name for check_modification in the documentation
  trytond/doc/ref/models.rst
Due: documentation

Do not copy reference field by default
  modules/account_invoice/invoice.py
  modules/account_payment/payment.py
  modules/production/production.py
  modules/purchase/purchase.py
  modules/purchase_blanket_agreement/purchase.py
  modules/purchase_request_quotation/purchase.py
  modules/sale/sale.py
  modules/sale_blanket_agreement/sale.py
  modules/sale_complaint/complaint.py
  modules/sale_opportunity/opportunity.py
  modules/sale_subscription/subscription.py
  modules/stock/shipment.py
Due: check-flake8, check-isort, test-demo

Do not check www.gnu.org URLs
  trytond/doc/linkcheck_ignore.json
Due: documentation

Use product record name in record name of purchase request
  modules/purchase_request/purchase_request.py
Due: check-flake8, check-isort

Add expand on allocatiation tree view
  modules/project_plan/view/allocation_tree.xml
Due: none

Ensure date in log window is always a string
  sao/src/window.js
Due: check-eslint

Order POS sale by descending date
  modules/sale_point/sale.py
Due: check-flake8, check-isort

Set selected class before changing current record and do not rely on toggle
  sao/src/view/list_form.js
Due: check-eslint

Prepare release trytond-7.6.5
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.6.5
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.4.15
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.15
  .hgtags
Due: none

Prepare release sao-7.6.5
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.5
  .hgtags
Due: none
