Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release account_invoice-8.0.1
  modules/account_invoice/CHANGELOG
Due: documentation, test-demo

Add tag account_invoice-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_invoice/tryton.cfg
Due: documentation, test-demo

Prepare release account_invoice-7.8.3
  modules/account_invoice/CHANGELOG
Due: documentation, test-demo

Add tag account_invoice-7.8.3
  .hgtags
Due: none

Prepare release account_invoice-7.0.17
  modules/account_invoice/CHANGELOG
Due: documentation, test-demo

Add tag account_invoice-7.0.17
  .hgtags
Due: none

Prepare release account-8.0.3
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-8.0.3
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Prepare release account-7.8.8
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.8.8
  .hgtags
Due: none

Prepare release account-7.0.28
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.0.28
  .hgtags
Due: none

Enforce shipment domain on stock moves
  modules/stock/shipment.py
Due: check-flake8, check-isort, test-demo

Make locations readonly on stock move when linked to a shipment without being edited from it
  modules/stock/move.py
Due: check-flake8, check-isort, test-demo

Do not create a purchase line for outsourced production with already one
  modules/production_outsourcing/production.py
Due: check-flake8, check-isort

Warn when resetting to draft or cancelling production with pending purchase lines
  modules/production_outsourcing/message.xml
  modules/production_outsourcing/production.py
Due: check-flake8, check-isort

Use ngettext for warning message about pending purchases of outsourced productions
  modules/production_outsourcing/message.xml
  modules/production_outsourcing/production.py
Due: check-flake8, check-isort

Update zeep version for DPD
  modules/stock_package_shipping_dpd/configuration.py
  modules/stock_package_shipping_dpd/pyproject.toml
Due: check-flake8, check-isort

Allow npm to run puppeteer scripts
  sao/package.json
Due: none

Compare tab against view index less or equals to 0
  sao/src/tab.js
Due: check-eslint

Do not set company on set production cost cron in the test scenario
  modules/production/tests/scenario_production_set_cost.rst
Due: check-flake8, check-isort, test-demo

Use dict.get instead of getattr to retrieve user errors from Shopify request
  modules/web_shop_shopify/tests/tools.py
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort
