Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Fix extras_depend name in tryton.cfg
  modules/account_stock_landed_cost/tryton.cfg
Due: documentation

Prepare release trytond-7.6.4
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.6.4
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.4.14
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.14
  .hgtags
Due: none

Prepare release trytond-7.0.34
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.34
  .hgtags
Due: none

Prepare release trytond-6.0.65
  trytond/CHANGELOG
Due: documentation

Add tag trytond-6.0.65
  .hgtags
Due: none

Prepare release sao-7.6.4
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.4
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.4.14
  sao/CHANGELOG
Due: documentation

Add tag sao-7.4.14
  .hgtags
Due: none

Prepare release sao-7.0.33
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.33
  .hgtags
Due: none

Prepare release sao-6.0.63
  sao/CHANGELOG
Due: documentation

Add tag sao-6.0.63
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Forbid to select the invoice company as consolidation company
  modules/account_consolidation/account.py
Due: check-flake8, check-isort

Correct typos in the report documentation (grafted from c856f5fc2736eb35f286e360368e6a3dca3858a0)
  trytond/doc/topics/reports/index.rst
Due: documentation

Correct typos in the report documentation
  trytond/doc/topics/reports/index.rst
Due: documentation

Set current screen context in import / export windows
  sao/src/window.js
Due: check-eslint

Get ir.model Model from the pool
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort
