Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add support for selling with excise number using excise tax to calculate price list
  modules/account_stock_eu_excise/doc/design.rst
  modules/account_stock_eu_excise/product.py
  modules/account_stock_eu_excise/product.xml
  modules/account_stock_eu_excise/sale.py
  modules/account_stock_eu_excise/sale.xml
  modules/account_stock_eu_excise/tests/scenario_account_stock_eu_excise_sale.rst
  modules/account_stock_eu_excise/tests/test_module.py
  modules/account_stock_eu_excise/tryton.cfg
  modules/account_stock_eu_excise/view/product_price_list_line_form.xml
  modules/account_stock_eu_excise/view/product_price_list_line_list.xml
  modules/account_stock_eu_excise/view/sale_line_list.xml
  modules/account_stock_eu_excise/view/sale_sale_form.xml
Due: documentation, check-flake8, check-isort

Add ethanol volume to price list formula
  modules/stock_ethanol/doc/design.rst
  modules/stock_ethanol/product.py
  modules/stock_ethanol/product.xml
  modules/stock_ethanol/tests/test_module.py
  modules/stock_ethanol/tryton.cfg
  modules/stock_ethanol/view/product_price_list_line_form.xml
Due: documentation, check-flake8, check-isort

Use current timestamp as last modified at for table query
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Make retrieval of metadata for main doc via build really quiet
  doc/conf.py
Due: documentation, check-flake8, check-isort

Remove unused table instances in dispatcher
  trytond/trytond/protocols/dispatcher.py
Due: check-flake8, check-isort

Update the version of Stripe used
  modules/account_payment_stripe/payment.py
  modules/account_payment_stripe/pyproject.toml
Due: check-flake8, check-isort

Update documentation of timesheet_cost
  modules/timesheet_cost/CHANGELOG
  modules/timesheet_cost/doc/design.rst
  modules/timesheet_cost/doc/index.rst
  modules/timesheet_cost/doc/releases.rst
Due: documentation

Update documentation of stock supply
  modules/stock_supply/CHANGELOG
  modules/stock_supply/doc/design.rst
  modules/stock_supply/doc/index.rst
  modules/stock_supply/doc/releases.rst
Due: documentation

Replace ShopifyAPI by shopifyapp
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/__init__.py
  modules/web_shop_shopify/common.py
  modules/web_shop_shopify/exceptions.py
  modules/web_shop_shopify/graphql.py
  modules/web_shop_shopify/product.py
  modules/web_shop_shopify/pyproject.toml
  modules/web_shop_shopify/routes.py
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/shopify_retry.py
  modules/web_shop_shopify/stock.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
  modules/web_shop_shopify/tests/scenario_web_shop_shopify_product_kit.rst
  modules/web_shop_shopify/tests/scenario_web_shop_shopify_secondary_unit.rst
  modules/web_shop_shopify/tests/test_scenario.py
  modules/web_shop_shopify/tests/tools.py
  modules/web_shop_shopify/view/shop_form.xml
  modules/web_shop_shopify/web.py
Due: documentation, check-flake8, check-isort

Include inactive keys from the dict schema when searching
  trytond/trytond/model/dictschema.py
Due: check-flake8, check-isort

Fallback to Compact Syntax if RelaxNG files are not present
  trytond/trytond/ir/action.py
  trytond/trytond/ir/ui/view.py
  trytond/trytond/model/modelview.py
  trytond/trytond/tests/test_modelview.py
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Use a cookie to store the session token
  modules/authentication_saml/routes.py
  sao/CHANGELOG
  sao/src/bus.js
  sao/src/rpc.js
  sao/src/sao.js
  sao/src/session.js
  trytond/CHANGELOG
  trytond/doc/topics/configuration.rst
  trytond/trytond/protocols/dispatcher.py
  trytond/trytond/protocols/wrappers.py
  trytond/trytond/tests/test_wsgi.py
  trytond/trytond/wsgi.py
Due: documentation, check-flake8, check-isort, check-eslint

Follow standard for product anchor in production documentation
  modules/production/doc/design.rst
Due: documentation, test-demo

Update documentation of production work module
  modules/production_work/CHANGELOG
  modules/production_work/doc/design.rst
  modules/production_work/doc/index.rst
  modules/production_work/doc/releases.rst
Due: documentation, test-demo

Update documentation of production routing
  modules/production_routing/CHANGELOG
  modules/production_routing/doc/design.rst
  modules/production_routing/doc/index.rst
  modules/production_routing/doc/releases.rst
Due: documentation, test-demo

Update documentation of production work timesheet module
  modules/production_work_timesheet/CHANGELOG
  modules/production_work_timesheet/doc/design.rst
  modules/production_work_timesheet/doc/index.rst
  modules/production_work_timesheet/doc/releases.rst
Due: documentation

Add index for target column of xxx2Many field on history table
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Use session property instead of authorization for bus subscription
  trytond/trytond/bus.py
Due: check-flake8, check-isort

Split indexes for history table to have either id or __id
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Make product customer readonly for non draft amendment lines
  modules/sale_product_customer/sale.py
Due: check-flake8, check-isort

Add support for emails on the chat channels
  modules/inbound_email/CHANGELOG
  modules/inbound_email/doc/configuration.rst
  modules/inbound_email/inbound_email.py
  modules/inbound_email/ir.py
  modules/inbound_email/message.xml
  modules/inbound_email/tests/test_module.py
  modules/inbound_email/tryton.cfg
  modules/party/ir.py
  modules/party/tryton.cfg
  sao/src/chat.js
  sao/src/sao.less
  tryton/tryton/chat.py
  trytond/CHANGELOG
  trytond/trytond/ir/chat.py
  trytond/trytond/ir/chat.xml
  trytond/trytond/ir/message.xml
  trytond/trytond/ir/tryton.cfg
  trytond/trytond/ir/view/chat_channel_form.xml
  trytond/trytond/ir/view/chat_channel_list.xml
  trytond/trytond/ir/view/chat_follower_form.xml
  trytond/trytond/ir/view/chat_follower_list.xml
  trytond/trytond/tests/test_chat.py
Due: documentation, check-flake8, check-isort, check-eslint, test-demo

Remove unused pending window domain and include submitted to processing window domain
  modules/edocument_peppol/edocument.xml
Due: none

Remove account_de_skr03 module
  .gitlab-ci-modules.yml
  doc/account.rst
  doc/migration.rst
  modules/account_de_skr03/CHANGELOG
  modules/account_de_skr03/COPYRIGHT
  modules/account_de_skr03/LICENSE
  modules/account_de_skr03/README.rst
  modules/account_de_skr03/__init__.py
  modules/account_de_skr03/account_de.xml
  modules/account_de_skr03/doc/conf.py
  modules/account_de_skr03/doc/index.rst
  modules/account_de_skr03/doc/releases.rst
  modules/account_de_skr03/doc/requirements-doc.txt
  modules/account_de_skr03/pyproject.toml
  modules/account_de_skr03/tax_de.xml
  modules/account_de_skr03/tests/__init__.py
  modules/account_de_skr03/tests/test_module.py
  modules/account_de_skr03/tox.ini
  modules/account_de_skr03/tryton.cfg
Due: documentation, check-flake8, check-isort

Make chat channel readable only by the administrators
  trytond/trytond/ir/chat.xml
Due: none

Add record name to chat channel
  trytond/trytond/ir/chat.py
Due: check-flake8, check-isort

Add ModelView to chat message
  trytond/trytond/ir/chat.py
  trytond/trytond/ir/chat.xml
  trytond/trytond/ir/view/chat_message_form.xml
  trytond/trytond/ir/view/chat_message_list.xml
Due: check-flake8, check-isort

Store Message-Id of email received on the corresponding chat message
  trytond/trytond/ir/chat.py
Due: check-flake8, check-isort

Rename party identifier si_businessid into si_maticna
  modules/party/party.py
Due: check-flake8, check-isort, test-demo

Replace non-ASCII characters in translated strings
  modules/account_fr/account.py
  modules/stock_ethanol/product.py
  modules/stock_ethanol/stock.py
Due: check-flake8, check-isort

Honor the sort parameter of Selection fields in the filter box
  sao/src/screen.js
  tryton/tryton/gui/window/view_form/view/screen_container.py
Due: check-flake8, check-isort, check-eslint
