Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Add tag authentication_saml-7.8.1
  .hgtags
Due: none

Increase version number
  modules/authentication_saml/tryton.cfg
Due: documentation

Prepare release authentication_saml-7.0.1
  modules/authentication_saml/CHANGELOG
  modules/authentication_saml/COPYRIGHT
Due: documentation

Add tag authentication_saml-7.0.1
  .hgtags
Due: none

Prepare release account_statement-8.0.1
  modules/account_statement/CHANGELOG
Due: documentation, test-demo

Add tag account_statement-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_statement/tryton.cfg
Due: documentation, test-demo

Prepare release account_statement-7.8.3
  modules/account_statement/CHANGELOG
Due: documentation, test-demo

Add tag account_statement-7.8.3
  .hgtags
Due: none

Prepare release account_statement-7.0.8
  modules/account_statement/CHANGELOG
Due: documentation, test-demo

Add tag account_statement-7.0.8
  .hgtags
Due: none

Prepare release account_payment_sepa_cfonb-8.0.1
  modules/account_payment_sepa_cfonb/CHANGELOG
Due: documentation

Add tag account_payment_sepa_cfonb-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa_cfonb/tryton.cfg
Due: documentation

Prepare release account_payment_sepa_cfonb-7.8.1
  modules/account_payment_sepa_cfonb/CHANGELOG
  modules/account_payment_sepa_cfonb/COPYRIGHT
Due: documentation

Add tag account_payment_sepa_cfonb-7.8.1
  .hgtags
Due: none

Prepare release account_payment_sepa-8.0.2
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-8.0.2
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa/tryton.cfg
Due: documentation

Prepare release account_payment_sepa-7.8.4
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-7.8.4
  .hgtags
Due: none

Update the Stripe API version
  modules/account_payment_stripe/payment.py
Due: check-flake8, check-isort

Use https for namespaces for currency rate from Romanian National Bank
  modules/currency_ro/currency.py
Due: check-flake8, check-isort

Use boolean operator to test remaining quantity of blanket agreement when closing
  modules/purchase_blanket_agreement/purchase.py
  modules/sale_blanket_agreement/sale.py
Due: check-flake8, check-isort

Use instances when copying analytic account entries to new line
  modules/analytic_account/account.py
  modules/analytic_purchase/purchase.py
  modules/analytic_sale/sale.py
Due: check-flake8, check-isort

Use webhook secret to verify Shopify webhook
  modules/web_shop_shopify/routes.py
Due: check-flake8, check-isort

Store Peppyrus message using service instance instead of class
  modules/edocument_peppol_peppyrus/routes.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
