Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Prepare release user_role-7.8.1
  modules/user_role/CHANGELOG
  modules/user_role/COPYRIGHT
Due: documentation

Add tag user_role-7.8.1
  .hgtags
Due: none

Increase version number
  modules/user_role/tryton.cfg
Due: documentation

Prepare release user_role-7.0.1
  modules/user_role/CHANGELOG
  modules/user_role/COPYRIGHT
Due: documentation

Add tag user_role-7.0.1
  .hgtags
Due: none

Prepare release stock_package_shipping-8.0.2
  modules/stock_package_shipping/CHANGELOG
Due: documentation

Add tag stock_package_shipping-8.0.2
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping/tryton.cfg
Due: documentation

Prepare release stock_package_shipping-7.8.3
  modules/stock_package_shipping/CHANGELOG
Due: documentation

Add tag stock_package_shipping-7.8.3
  .hgtags
Due: none

Prepare release stock_ethanol-8.0.1
  modules/stock_ethanol/CHANGELOG
Due: documentation

Add tag stock_ethanol-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock_ethanol/tryton.cfg
Due: documentation

Prepare release sale_supply_drop_shipment-8.0.1
  modules/sale_supply_drop_shipment/CHANGELOG
Due: documentation

Add tag sale_supply_drop_shipment-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_supply_drop_shipment/tryton.cfg
Due: documentation

Prepare release sale_supply_drop_shipment-7.8.1
  modules/sale_supply_drop_shipment/CHANGELOG
  modules/sale_supply_drop_shipment/COPYRIGHT
Due: documentation

Add tag sale_supply_drop_shipment-7.8.1
  .hgtags
Due: none

Prepare release sale_supply_drop_shipment-7.0.4
  modules/sale_supply_drop_shipment/CHANGELOG
  modules/sale_supply_drop_shipment/COPYRIGHT
Due: documentation

Add tag sale_supply_drop_shipment-7.0.4
  .hgtags
Due: none

Prepare release sale_supply-8.0.1
  modules/sale_supply/CHANGELOG
Due: documentation

Add tag sale_supply-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_supply/tryton.cfg
Due: documentation

Prepare release sale_supply-7.8.1
  modules/sale_supply/CHANGELOG
  modules/sale_supply/COPYRIGHT
Due: documentation

Add tag sale_supply-7.8.1
  .hgtags
Due: none

Prepare release sale_supply-7.0.7
  modules/sale_supply/CHANGELOG
  modules/sale_supply/COPYRIGHT
Due: documentation

Add tag sale_supply-7.0.7
  .hgtags
Due: none

Prepare release sale-8.0.4
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-8.0.4
  .hgtags
Due: none

Increase version number
  modules/sale/tryton.cfg
Due: documentation, test-demo

Prepare release sale-7.8.5
  modules/sale/CHANGELOG
Due: documentation, test-demo

Add tag sale-7.8.5
  .hgtags
Due: none

Prepare release sale-7.0.19
  modules/sale/CHANGELOG
Due: documentation, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
