Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Do not fail to reload modified view without a current record
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
Due: check-flake8, check-isort, check-eslint

Use pairing to generate unique ID for purchase reporting
  modules/purchase/purchase_reporting.py
  modules/purchase/purchase_reporting.xml
  modules/purchase/tests/scenario_purchase_reporting.rst
  modules/purchase/view/purchase_reporting_main_list.xml
  modules/purchase/view/purchase_reporting_main_time_series_list.xml
Due: check-flake8, check-isort, test-demo

Reset period of move when company is changed
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Set width to 100% on object of document widget
  sao/src/sao.less
Due: none

Use the actual Shopify values for scope in documentation
  modules/web_shop_shopify/doc/usage.rst
Due: documentation

Fix message ID for unique constraint on move sequence of fiscal year
  modules/account/fiscalyear.py
Due: check-flake8, check-isort, test-demo

Consider any field of new record as loaded
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/record.py
Due: check-flake8, check-isort, check-eslint

Set default value via domain inversion only when deferred operand is id
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/field.py
Due: check-flake8, check-isort, check-eslint

Do not use state Function field of line to check against modification
  modules/purchase/purchase.py
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Make bom notebook fill all form columns
  modules/production/view/bom_form.xml
Due: test-demo

Use dedicated list view to display children line on budget form
  modules/account_budget/account.xml
  modules/account_budget/view/budget_line_form.xml
  modules/account_budget/view/budget_line_list_sequence.xml
Due: none

Remove metadata columns from tutorial of table query
  trytond/doc/tutorial/module/table_query.rst
Due: documentation

Fill unknown country only for move with an intrastat type and one empty country
  modules/account_stock_eu/stock.py
Due: check-flake8, check-isort

Search notification email model by name
  modules/notification_email/ir.py
Due: check-flake8, check-isort

Test on_change_notification_email of trigger
  modules/notification_email/tests/test_module.py
Due: check-flake8, check-isort

Iterate on the result of items call to update values set by on_change on O2M
  tryton/tryton/gui/window/view_form/model/field.py
Due: check-flake8, check-isort
