Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Stop propagation of click event on button in tree view
  sao/src/view/tree.js
Due: check-eslint

Do not crash if there is no Euro currency defined for intrastat reports
  modules/account_stock_eu/company.py
  modules/account_stock_eu/stock.py
Due: check-flake8, check-isort

Recursively set values on record for xxx2Many fields
  proteus/proteus/__init__.py
Due: check-flake8, check-isort

Do not change the selection of row when starting the edition
  sao/src/view/tree.js
Due: check-eslint

Set default values for fields of button_change decorator
  trytond/trytond/model/modelview.py
Due: check-flake8, check-isort

Do not fail to open product category to add products without any categories (grafted from 72db56e056c39546a146bf57b60246428ed79f6c)
  modules/product/category.py
Due: check-flake8, check-isort, test-demo

Do not fail to open product category to add products without any categories
  modules/product/category.py
Due: check-flake8, check-isort, test-demo

Do not fail to duplicate lot with an empty lot list (grafted from 5abc24aaecd7a021dff02d77d83b8e19b9c0acf6)
  modules/stock_lot/stock.py
Due: check-flake8, check-isort

Do not fail to duplicate lot with an empty lot list
  modules/stock_lot/stock.py
Due: check-flake8, check-isort

Initialize recent date when closing periods with empty period list (grafted from beed0d8fffcf8aa86ac5e6a2fe50adbfb7e5adcc)
  modules/stock/period.py
  modules/stock_lot_sled/stock.py
Due: check-flake8, check-isort, test-demo

Initialize recent date when closing periods with empty period list (grafted from beed0d8fffcf8aa86ac5e6a2fe50adbfb7e5adcc)
  modules/stock_lot_sled/stock.py
Due: check-flake8, check-isort

Initialize recent date when closing periods with empty period list
  modules/stock/period.py
  modules/stock_lot_sled/stock.py
Due: check-flake8, check-isort, test-demo

Add test for methods of buttons
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Fix extras_depend name in tryton.cfg
  modules/account_stock_landed_cost/tryton.cfg
Due: documentation

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
