Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Prepare release account_invoice-7.6.2
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-7.6.2
  .hgtags
Due: none

Increase version number
  modules/account_invoice/tryton.cfg
Due: documentation, test-demo

Prepare release account_invoice-7.0.15
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-7.0.15
  .hgtags
Due: none

Prepare release account_invoice-6.0.22
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-6.0.22
  .hgtags
Due: none

Prepare release account-7.8.2
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.8.2
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Prepare release account-7.6.8
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.6.8
  .hgtags
Due: none

Use amount from transaction details when available
  modules/account_statement_sepa/account.py
  modules/account_statement_sepa/tests/camt.053.001.02.xml
Due: check-flake8, check-isort

Add missing warning key for PackWarning on Internal Shipment
  modules/stock_package_shipping/stock.py
Due: check-flake8, check-isort

Replace jQuery's css by accessing directly the element style
  sao/src/view/form.js
Due: check-eslint

Add searcher to the shipments field on invoice line
  modules/account_invoice_stock/account.py
Due: check-flake8, check-isort

Register product after template extension to add UNECE codes
  modules/edocument_unece/product.py
  modules/edocument_unece/tryton.cfg
Due: documentation, check-flake8, check-isort

Add Belgian purchase and sale VAT zero rated goods
  modules/account_be/tax_be.xml
  modules/account_be/tax_be_fr.xml
  modules/account_be/tax_be_nl.xml
Due: check-account-chart

Add VATEX code to Belgian taxes
  modules/account_be/CHANGELOG
  modules/account_be/tax_be.xml
  modules/account_be/tax_be_fr.xml
  modules/account_be/tax_be_nl.xml
Due: documentation, check-account-chart

Use invoice taxes from line to render tax category in UBL Invoice
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_ubl/tests/test_module.py
Due: check-flake8, check-isort

Use the legal notice of tax as tax exemption reason in UBL invoice
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: check-flake8, check-isort

Use the legal notice of tax as tax exemption reason in UBL invoice
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/template/2/base.xml
Due: check-flake8, check-isort

Add VAT exemption code on tax
  modules/account_eu/CHANGELOG
  modules/account_eu/account.py
  modules/account_eu/view/tax_form.xml
  modules/account_eu/view/tax_template_form.xml
  modules/account_fr/account.py
  modules/account_fr/tests/test_module.py
  modules/account_fr/tryton.cfg
  modules/edocument_ubl/CHANGELOG
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/template/2/base.xml
  modules/edocument_uncefact/CHANGELOG
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: documentation, check-flake8, check-isort

Add a button to close the Filters modal
  sao/src/screen.js
Due: check-eslint

Inherit color for close button
  sao/src/sao-variables.less
  sao/src/sao.less
Due: none

Fill blank state of empty favorite menu
  sao/src/sao.js
  tryton/tryton/gui/main.py
Due: check-flake8, check-isort, check-eslint

Set revision context before clearing the screen
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
Due: check-flake8, check-isort, check-eslint

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
