Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Unselect other rows when radio button of row is selected
  sao/src/view/tree.js
Due: check-eslint

Store the selected state before deselect all the rows
  sao/src/view/tree.js
Due: check-eslint

Round only the tax amount of the line when rounding per line
  modules/account/tax.py
  modules/account/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Use explicit key when computing taxes and object instead of dict
  modules/account/tax.py
  modules/account/tests/test_module.py
  modules/account/view/tax_test_result_list.xml
  modules/account_invoice/invoice.py
  modules/account_tax_non_deductible/account.py
  modules/purchase/purchase.py
  modules/sale/sale.py
  modules/sale_point/sale.py
  modules/sale_shipment_cost/sale.py
  modules/web_shop_vue_storefront/sale.py
Due: check-flake8, check-isort, test-demo

Add test scenario for tax test wizard
  modules/account/tests/scenario_tax_test.rst
Due: check-flake8, check-isort, test-demo

Use -1 as fallback value for company in account domain of statement line
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Forbid to set closed account on statement rule line
  modules/account_statement_rule/account.py
Due: check-flake8, check-isort

Always wait for the promise of save_tree_state
  sao/src/tab.js
Due: check-eslint

Do not save tree state when setting value on form view (grafted from caf7ffa6d65ac4ff9c5cfe62c5f5e96dca520ef5)
  sao/src/view/form.js
Due: check-eslint

Do not save tree state when setting value on form view
  sao/src/view/form.js
Due: check-eslint

Delay the observation of the more button
  sao/src/view/tree.js
Due: check-eslint

Use the configured display size when selected or expanded row are defined
  sao/src/view/tree.js
Due: check-eslint

Make trytond-gis depends on the trytond extras test for its tests (grafted from 7e15a8cac5a4bc4fb9a659f57b955d1f9d64485e)
  trytond-gis/setup.py
  trytond-gis/tox.ini
Due: check-flake8, check-isort

Make trytond-gis depends on the trytond extras test for its tests
  trytond-gis/setup.py
  trytond-gis/tox.ini
Due: check-flake8, check-isort

Fill payment amount cache only when cache column is added by register
  modules/account_payment/account.py
Due: check-flake8, check-isort, test-demo

Prepare release trytond-7.6.2
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.6.2
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.4.12
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.12
  .hgtags
Due: none

Prepare release trytond-7.2.23
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.2.23
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
