Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Recreate the invoice line for the cost based on shipment when handling the exception
  modules/sale_shipment_cost/sale.py
  modules/sale_shipment_cost/tests/scenario_sale_shipment_cost_cancelled_on_shipment.rst
  modules/sale_shipment_cost/tryton.cfg
Due: documentation, check-flake8, check-isort

Auto reload the server when tryton.cfg files are modified
  trytond/bin/trytond
Due: none

Add missing entry for edocument UBL, Peppol and Peppyrus
  doc/edocument.rst
Due: documentation

Fix typo in super call of _parse_2_line_reference
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/tests/scenario_ubl_2_invoice_parse.rst
Due: check-flake8, check-isort

Use unit from similar line if not set yet by the UBL definition
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Stream json and gzip response
  trytond/CHANGELOG
  trytond/trytond/protocols/jsonrpc.py
  trytond/trytond/protocols/wrappers.py
  trytond/trytond/protocols/xmlrpc.py
Due: documentation, check-flake8, check-isort

Use better labels for the Belgian VAT and business number
  modules/party/party.py
Due: check-flake8, check-isort, test-demo

Replace starting/ending date by start/end date
  modules/account/fiscalyear.py
  modules/account/period.py
  modules/account/tax.py
  modules/account_rule/account.py
Due: check-flake8, check-isort, test-demo

Do not translate Peppol document type
  modules/edocument_peppol/edocument.py
Due: check-flake8, check-isort

Improve help for gross price as it included many taxes
  modules/sale_point/product.py
Due: check-flake8, check-isort

Fix help text for rental state to be about rental
  modules/sale_rental/sale.py
Due: check-flake8, check-isort

Support a distinct VAT from the participant ID in the test scenario
  modules/edocument_peppol_peppyrus/tests/scenario_edocument_peppol_peppyrus.rst
  modules/edocument_peppol_peppyrus/tests/test_scenario.py
Due: check-flake8, check-isort

Do not run concurrently tests for Peppyrus
  .gitlab-ci-modules.yml
  .gitlab-scripts/generate-ci.py
Due: check-flake8, check-isort

Improve help for gross price of template as it included many taxes
  modules/sale_point/product.py
Due: check-flake8, check-isort

Fix max_volume and max_weight field strings
  modules/stock_shipping_point/stock.py
Due: check-flake8, check-isort

Force breaking error message when overflowing the error window
  sao/src/common.js
Due: check-eslint

Remove extras require of bcrypt and html2text for web user module
  modules/web_user/setup.py
  modules/web_user/user.py
Due: check-flake8, check-isort

Support MJML syntax for marketing email
  modules/marketing_automation/CHANGELOG
  modules/marketing_automation/marketing_automation.py
  modules/marketing_email/CHANGELOG
  modules/marketing_email/marketing.py
Due: documentation, check-flake8, check-isort

Support the conversion of MJML reports to HTML
  trytond/CHANGELOG
  trytond/doc/ref/report.rst
  trytond/setup.py
  trytond/tox.ini
  trytond/trytond/report/__init__.py
  trytond/trytond/report/report.py
  trytond/trytond/tests/report.mjml
  trytond/trytond/tests/report.py
  trytond/trytond/tests/report.xml
  trytond/trytond/tests/test_report.py
Due: documentation, check-flake8, check-isort

Lazy import html2text and weasyprint
  modules/marketing_automation/marketing_automation.py
  modules/marketing_email/marketing.py
  trytond/doc/ref/report.rst
  trytond/trytond/ir/email_.py
  trytond/trytond/report/__init__.py
  trytond/trytond/report/report.py
  trytond/trytond/tests/test_report.py
Due: documentation, check-flake8, check-isort

Fix domain parser for Reference field when there is no value but a target
  sao/src/common.js
  sao/tests/sao.js
  tryton/tryton/common/domain_parser.py
  tryton/tryton/tests/test_common_domain_parser.py
Due: check-flake8, check-isort, check-eslint

Use default month value for the period of sale and purchase reporting
  modules/purchase/purchase_reporting.py
  modules/sale/sale_reporting.py
Due: check-flake8, check-isort, test-demo

Enforce gift card to be False when the type of product can not be one (grafted from 3583fa0162e2f9cfb20c4b94a8359bf507332651)
  modules/sale_gift_card/product.py
Due: check-flake8, check-isort

Enforce gift card to be False when the type of product can not be one
  modules/sale_gift_card/product.py
Due: check-flake8, check-isort

Exclude sale lines of gift cards from sale reporting
  modules/sale_gift_card/sale_reporting.py
  modules/sale_gift_card/tests/scenario_sale_gift_card.rst
  modules/sale_gift_card/tryton.cfg
Due: documentation, check-flake8, check-isort

Add an empty line to the console migration script after multi-line statement
  doc/migration.rst
Due: documentation

Ensure that the computed traces of a stock move have a lot
  modules/stock_lot/stock.py
Due: check-flake8, check-isort

Use different starting point for IDs of table when testing
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Implement setnextid for SQLite database
  trytond/trytond/backend/sqlite/database.py
Due: check-flake8, check-isort

Use the right primary column name for PostgreSQL database method
  trytond/trytond/backend/postgresql/database.py
Due: check-flake8, check-isort
