Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Order cron logs by descending ID
  trytond/trytond/ir/cron.py
Due: check-flake8, check-isort

Include subdirectories tryton.cfg when activating a module
  trytond/CHANGELOG
  trytond/doc/topics/modules/index.rst
  trytond/trytond/modules/__init__.py
  trytond/trytond/tests/test_module_register.py
Due: documentation, check-flake8, check-isort

Limit digit to positive integer when formatting float in domain parser
  sao/src/common.js
  tryton/tryton/common/domain_parser.py
Due: check-flake8, check-isort, check-eslint

Sort statement lines per origin before creating moves
  modules/account_statement/statement.py
Due: check-flake8, check-isort, test-demo

Do not insert values for Function fields in history table
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Avoid redirection in documentation links
  modules/currency_ro/doc/index.rst
  modules/stock/doc/reference.rst
Due: documentation, test-demo

Do not copy caches of stock periods
  modules/stock/period.py
Due: check-flake8, check-isort, test-demo

Allow cash rounding with opposite method
  modules/account_cash_rounding/CHANGELOG
  modules/account_cash_rounding/currency.py
  modules/currency/__init__.py
Due: documentation, check-flake8, check-isort, test-demo

Use currency rounding when currency has no cash rounding set
  modules/account_cash_rounding/currency.py
  modules/account_cash_rounding/tests/scenario_account_cash_rounding_alternate_currency.rst
Due: check-flake8, check-isort

Use currency rounding when currency has no cash rounding set
  modules/account_cash_rounding/currency.py
Due: check-flake8, check-isort

Prepare release trytond-7.8.5
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-7.8.5
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.6.17
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-7.6.17
  .hgtags
Due: none

Prepare release trytond-7.0.46
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-7.0.46
  .hgtags
Due: none

Prepare release trytond-6.0.74
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-6.0.74
  .hgtags
Due: none

Prepare release tryton-7.8.4
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.8.4
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
