Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Prepare release sao-7.6.12
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.12
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release sao-7.4.22
  sao/CHANGELOG
Due: documentation

Add tag sao-7.4.22
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Add tag sao-7.0.41
  .hgtags
Due: none

Prepare release sao-7.0.41
  sao/CHANGELOG
Due: documentation

Prepare release sao-6.0.70
  sao/CHANGELOG
Due: documentation

Add tag sao-6.0.70
  .hgtags
Due: none

Prepare release proteus-7.6.2
  proteus/CHANGELOG
Due: documentation

Add tag proteus-7.6.2
  .hgtags
Due: none

Increase version number
  proteus/proteus/__init__.py
Due: check-flake8, check-isort

Prepare release proteus-7.4.3
  proteus/CHANGELOG
Due: documentation

Add tag proteus-7.4.3
  .hgtags
Due: none

Prepare release proteus-7.0.3
  proteus/CHANGELOG
Due: documentation

Add tag proteus-7.0.3
  .hgtags
Due: none

Prepare release proteus-6.0.10
  proteus/CHANGELOG
Due: documentation

Add tag proteus-6.0.10
  .hgtags
Due: none

Prepare release web_shop_shopify-7.6.7
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.6.7
  .hgtags
Due: none

Increase version number
  modules/web_shop_shopify/tryton.cfg
Due: documentation

Prepare release web_shop_shopify-7.4.10
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.4.10
  .hgtags
Due: none

Prepare release web_shop_shopify-7.0.13
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.0.13
  .hgtags
Due: none

Prepare release stock_shipment_measurements-7.6.3
  modules/stock_shipment_measurements/CHANGELOG
Due: documentation

Add tag stock_shipment_measurements-7.6.3
  .hgtags
Due: none

Increase version number
  modules/stock_shipment_measurements/tryton.cfg
Due: documentation

Prepare release stock_product_location_place-7.6.1
  modules/stock_product_location_place/CHANGELOG
Due: documentation

Add tag stock_product_location_place-7.6.1
  .hgtags
Due: none

Increase version number
  modules/stock_product_location_place/tryton.cfg
Due: documentation

Prepare release stock_lot-7.6.2
  modules/stock_lot/CHANGELOG
Due: documentation

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
