Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Only delete requested shipments from the warehouses when supplying internal shipments
  modules/stock_supply/shipment.py
Due: check-flake8, check-isort

Test stock internal supply with and without warehouses
  modules/stock_supply/setup.py
  modules/stock_supply/tests/scenario_stock_internal_supply.json
  modules/stock_supply/tests/scenario_stock_internal_supply.rst
Due: check-flake8, check-isort

Raise inbound email menu
  modules/inbound_email/inbound_email.xml
Due: none

Add documentation to purchase request stock level closes #14317
  modules/purchase_request/purchase_request.py
Due: check-flake8, check-isort

Set Belgian account 360 as debt
  modules/account_be/account_be.xml
  modules/account_be/account_be_fr.xml
  modules/account_be/account_be_nl.xml
Due: check-account-chart

Set Belgian account 406 as debt
  modules/account_be/account_be.xml
  modules/account_be/account_be_fr.xml
  modules/account_be/account_be_nl.xml
Due: check-account-chart

Replace clean_days with log_size in the cron configuration
  trytond/CHANGELOG
  trytond/doc/topics/configuration.rst
  trytond/trytond/ir/cron.py
  trytond/trytond/tests/test_ir.py
Due: documentation, check-flake8, check-isort

Add a clear cache method to the Database
  trytond/CHANGELOG
  trytond/doc/ref/backend.rst
  trytond/trytond/backend/database.py
  trytond/trytond/backend/postgresql/database.py
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/tests/test_tryton.py
Due: documentation, check-flake8, check-isort

Copy productions at once when splitting closes #14325
  modules/production_split/production.py
Due: check-flake8, check-isort

Use the view_ids attribute to open the Many2One target from tree view
  sao/src/view/tree.js
Due: check-eslint

Remove the first view_ids when opening the Many2One target from tree view
  tryton/tryton/gui/window/view_form/view/list_gtk/widget.py
Due: check-flake8, check-isort

Do not use the bus URL when creating the XML-RPC authentication token
  proteus/proteus/config.py
Due: check-flake8, check-isort

Add e-documents as reports on invoices
  modules/account_invoice/CHANGELOG
  modules/account_invoice/invoice.py
  modules/account_invoice/invoice.xml
  modules/account_invoice/tryton.cfg
  modules/account_invoice/view/edocument_result_form.xml
  modules/account_invoice/view/edocument_start_form.xml
  modules/edocument_ubl/account.py
  modules/edocument_ubl/account.xml
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/tryton.cfg
  modules/edocument_uncefact/account.py
  modules/edocument_uncefact/account.xml
  modules/edocument_uncefact/edocument.py
  modules/edocument_uncefact/tryton.cfg
Due: documentation, check-flake8, check-isort, test-demo

Use line's movable property to require incoterm
  modules/incoterm/purchase.py
  modules/incoterm/sale.py
Due: check-flake8, check-isort

Use line's get_move_product_types to require incoterm
  modules/incoterm/purchase.py
  modules/incoterm/sale.py
Due: check-flake8, check-isort

Test from location when checking warehouse for purchase line with negative quantity
  modules/purchase/purchase.py
Due: check-flake8, check-isort, test-demo

Include the line in the warehouse required error message for sale and purchase
  modules/purchase/message.xml
  modules/purchase/purchase.py
  modules/sale/message.xml
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Set shipment cost method to order for sale from web shop
  modules/web_shop/tryton.cfg
  modules/web_shop/web.py
Due: documentation, check-flake8, check-isort

Replace party on account statement origin
  modules/account_statement/party.py
Due: check-flake8, check-isort, test-demo
