Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Remove default invoice type using the context
  modules/account_cash_rounding/account.py
  modules/account_cash_rounding/tests/scenario_account_cash_rounding.rst
  modules/account_cash_rounding/tests/scenario_account_cash_rounding_alternate_currency.rst
  modules/account_consolidation/tests/scenario_invoice.rst
  modules/account_deposit/tests/scenario_deposit.rst
  modules/account_deposit/tests/scenario_deposit_second_currency.rst
  modules/account_es/tests/scenario_reporting.rst
  modules/account_es/tests/scenario_reporting_alternate_currency.rst
  modules/account_es/tests/scenario_reporting_compensate.rst
  modules/account_es/tests/scenario_reporting_surcharge_tax.rst
  modules/account_invoice/CHANGELOG
  modules/account_invoice/invoice.py
  modules/account_invoice/tests/scenario_cancelling_invoice_move.rst
  modules/account_invoice/tests/scenario_credit_note.rst
  modules/account_invoice/tests/scenario_invoice.rst
  modules/account_invoice/tests/scenario_invoice_alternate_currency.rst
  modules/account_invoice/tests/scenario_invoice_alternate_currency_exchange.rst
  modules/account_invoice/tests/scenario_invoice_alternate_currency_lower_rate.rst
  modules/account_invoice/tests/scenario_invoice_alternate_currency_rate_change.rst
  modules/account_invoice/tests/scenario_invoice_alternative_payee.rst
  modules/account_invoice/tests/scenario_invoice_group_line.rst
  modules/account_invoice/tests/scenario_invoice_in_future.rst
  modules/account_invoice/tests/scenario_invoice_overpayment.rst
  modules/account_invoice/tests/scenario_invoice_reschedule_lines.rst
  modules/account_invoice/tests/scenario_invoice_with_credit.rst
  modules/account_invoice_correction/tests/scenario_invoice_correction.rst
  modules/account_invoice_watermark/tests/scenario_account_invoice_watermark.rst
  modules/account_payment/tests/scenario_account_payment_invoice.rst
  modules/account_payment_clearing/tests/scenario_account_payment_clearing_invoice_amount_to_pay.rst
  modules/account_statement_rule/tests/scenario_account_statement_rule_keyword_payment_reference.rst
  modules/account_stock_anglo_saxon/tests/scenario_account_stock_anglo_saxon.rst
  modules/account_tax_cash/tests/scenario_account_tax_cash.rst
  modules/account_tax_cash/tests/scenario_account_tax_cash_reconciliation.rst
  modules/analytic_invoice/tests/scenario_analytic_invoice.rst
  modules/commission/tests/scenario_commission.rst
  modules/commission/tests/scenario_commission_credit_posted_invoice.rst
  modules/commission_waiting/tests/scenario_commission_waiting.rst
  modules/sale_invoice_grouping/tests/scenario_sale_invoice_grouping.rst
Due: documentation, check-flake8, check-isort, test-demo

Set the invoice date to read-only once the invoice has been validated or posted
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Allow tabs to be reordered
  sao/CHANGELOG
  sao/index.html
Due: documentation

Wait for the DOM to be ready before hiding the notification indicator.
  sao/src/notification.js
Due: check-eslint

Remove unused Model in account stock continental scenario
  modules/account_stock_continental/tests/scenario_account_stock_continental.rst
Due: check-flake8, check-isort

Leave the quotation date field empty when copying sales
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Improve layout of invoice credit form
  modules/account_invoice/view/credit_start_form.xml
Due: test-demo

Create the party name using the registration name of the legal entity from UBL first
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/tests/scenario_ubl_2_credit_note_parse.rst
  modules/edocument_ubl/tests/scenario_ubl_2_invoice_parse.rst
Due: check-flake8, check-isort

Use schemeID to search for identifier of the same type
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Use the company IDs from UBL as identifier
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Add an origin invoices field to the invoice
  modules/account_invoice/CHANGELOG
  modules/account_invoice/invoice.py
Due: documentation, check-flake8, check-isort, test-demo

Set BillingReference to Invoice and Credit Note UBL
  modules/edocument_ubl/CHANGELOG
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: documentation

Do not try to add parameters to empty URL
  modules/marketing_email/marketing.py
  modules/web_user/user.py
Due: check-flake8, check-isort

Be more flexible when converting Peppyrus document type into edocument type
  modules/edocument_peppol_peppyrus/edocument.py
Due: check-flake8, check-isort

Support clause on multiselection field with operator in and value None
  trytond/trytond/model/fields/multiselection.py
  trytond/trytond/tests/test_field_multiselection.py
Due: check-flake8, check-isort

Clear any default incoterm for sale created for web shop
  modules/incoterm/web.py
Due: check-flake8, check-isort

Format float and computed Decimal using fixed-point notation
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_uncefact/edocument.py
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: check-flake8, check-isort

Add labels to migration documentation
  doc/migration.rst
Due: documentation
