Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Do not delete on cascade parts of a chart of account
  modules/account/account.py
  modules/account/tax.py
Due: check-flake8, check-isort, test-demo

Lock only FRST SEPA mandates when processing payment group
  modules/account_payment_sepa/payment.py
Due: check-flake8, check-isort

Use creation position to format warning key for new records
  trytond/doc/ref/transaction.rst
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
  trytond/trytond/res/user.py
  trytond/trytond/tests/test_res.py
  trytond/trytond/transaction.py
Due: documentation, check-flake8, check-isort

Remove warning for inventory in the future
  modules/sale_stock_quantity/tests/scenario_sale_stock_quantity.rst
  modules/stock/exceptions.py
  modules/stock/inventory.py
  modules/stock/message.xml
Due: check-flake8, check-isort, test-demo

Standardise the skipping of warnings in the test scenario
  modules/account/tests/scenario_move_line_group.rst
  modules/account_invoice/tests/scenario_cancelling_invoice_move.rst
  modules/account_invoice/tests/scenario_invoice_alternate_currency.rst
  modules/account_invoice/tests/scenario_invoice_tax_deductible.rst
  modules/account_stock_shipment_cost/tests/scenario_account_stock_shipment_cost.rst
  modules/stock_supply_production/tests/scenario_stock_supply_production.rst
Due: check-flake8, check-isort, test-demo

Do not create fs_values and values for ir_model_data in init SQL
  trytond/trytond/backend/postgresql/init.sql
  trytond/trytond/backend/sqlite/init.sql
Due: none

Allow multiple products to be added to or removed from an accounting category
  modules/account_product/CHANGELOG
  modules/account_product/product.py
  modules/account_product/product.xml
  modules/account_product/view/category_product_form.xml
Due: documentation, check-flake8, check-isort

Make option --all appends the res module to the list of updates
  trytond/trytond/commandline.py
Due: check-flake8, check-isort

Include assigned move in close period error message
  modules/stock/message.xml
  modules/stock/period.py
Due: check-flake8, check-isort, test-demo

Add test scenario for stock period
  modules/stock/tests/scenario_stock_period.rst
Due: check-flake8, check-isort, test-demo

Remove outdated comment about lock when closing stock period
  modules/stock/period.py
Due: check-flake8, check-isort, test-demo

Always fill contact of commercial invoice consignee for DPD shipping service
  modules/stock_package_shipping_dpd/stock.py
Due: check-flake8, check-isort

Do not apply inactive test when searching product through replacing products
  modules/product/product.py
Due: check-flake8, check-isort, test-demo

Do not return early when validating the default values set
  sao/src/model.js
Due: check-eslint

Use GraphQL API instead of REST API of Shopify
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/account.py
  modules/web_shop_shopify/common.py
  modules/web_shop_shopify/doc/usage.rst
  modules/web_shop_shopify/graphql.py
  modules/web_shop_shopify/message.xml
  modules/web_shop_shopify/party.py
  modules/web_shop_shopify/product.py
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/shopify_retry.py
  modules/web_shop_shopify/stock.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
  modules/web_shop_shopify/tests/scenario_web_shop_shopify_secondary_unit.rst
  modules/web_shop_shopify/tests/test_graphql.py
  modules/web_shop_shopify/tests/test_module.py
  modules/web_shop_shopify/tests/tools.py
  modules/web_shop_shopify/tryton.cfg
  modules/web_shop_shopify/web.py
Due: documentation, check-flake8, check-isort

Set the language to party from the Shopify customer
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/party.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
Due: documentation, check-flake8, check-isort

Add depends to parent account_category for on_change_gross_price
  modules/sale_point/product.py
Due: check-flake8, check-isort

Use a random Shopify handle for product in test scenario
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
Due: check-flake8, check-isort

Add support for materializing ModelSQL based on a table query
  trytond/CHANGELOG
  trytond/doc/topics/configuration.rst
  trytond/trytond/backend/database.py
  trytond/trytond/backend/postgresql/database.py
  trytond/trytond/backend/postgresql/table.py
  trytond/trytond/backend/sqlite/table.py
  trytond/trytond/backend/table.py
  trytond/trytond/ir/action.py
  trytond/trytond/ir/cron.py
  trytond/trytond/ir/model.py
  trytond/trytond/ir/model.xml
  trytond/trytond/ir/tryton.cfg
  trytond/trytond/model/modelsql.py
  trytond/trytond/modules/__init__.py
  trytond/trytond/tests/modelsql.py
  trytond/trytond/tests/test_modelsql.py
Due: documentation, check-flake8, check-isort

Allow users to subscribe to chats
  sao/CHANGELOG
  sao/images/tryton-notification-off.svg
  sao/images/tryton-notification-on.svg
  sao/src/chat.js
  sao/src/common.js
  tryton/CHANGELOG
  tryton/tryton/chat.py
  tryton/tryton/data/pixmaps/tryton/tryton-notification-off.svg
  tryton/tryton/data/pixmaps/tryton/tryton-notification-on.svg
  tryton/tryton/rpc.py
  trytond/trytond/ir/chat.py
  trytond/trytond/ir/ui/menu.py
Due: documentation, check-flake8, check-isort, check-eslint

Add user notification
  sao/CHANGELOG
  sao/Gruntfile.js
  sao/images/tryton-notification.svg
  sao/index.html
  sao/src/common.js
  sao/src/notification.js
  sao/src/sao.js
  sao/src/sao.less
  tryton/CHANGELOG
  tryton/tryton/action/main.py
  tryton/tryton/client.py
  tryton/tryton/data/pixmaps/tryton/tryton-notification.svg
  tryton/tryton/gui/main.py
  tryton/tryton/gui/notification.py
  trytond/CHANGELOG
  trytond/trytond/ir/ui/menu.py
  trytond/trytond/res/ir.py
  trytond/trytond/res/notification.py
  trytond/trytond/res/notification.xml
  trytond/trytond/res/tryton.cfg
  trytond/trytond/res/view/notification_form.xml
  trytond/trytond/res/view/notification_form_admin.xml
  trytond/trytond/res/view/notification_list.xml
Due: documentation, check-flake8, check-isort, check-eslint

Make icon badge independent of the view box of the SVG (grafted from 7173c77acabbd6f8d9af4412d20b18d701e591dd)
  tryton/tryton/common/common.py
Due: check-flake8, check-isort

Make icon badge independent of the view box of the SVG
  tryton/tryton/common/common.py
Due: check-flake8, check-isort

Add documentation for chat
  trytond/doc/modules/ir/design/chat.inc.rst
  trytond/doc/modules/ir/design/index.rst
  trytond/doc/ref/models.rst
Due: documentation

Add chat to operational documents
  modules/account_budget/account.py
  modules/account_dunning/dunning.py
  modules/account_invoice/invoice.py
  modules/account_payment/payment.py
  modules/account_statement/statement.py
  modules/account_stock_landed_cost/account.py
  modules/account_stock_shipment_cost/account.py
  modules/commission/commission.py
  modules/production/production.py
  modules/production_work/work.py
  modules/project/work.py
  modules/purchase/purchase.py
  modules/purchase_blanket_agreement/purchase.py
  modules/purchase_request/purchase_request.py
  modules/purchase_request_quotation/purchase.py
  modules/purchase_requisition/purchase.py
  modules/quality/quality.py
  modules/sale/sale.py
  modules/sale_blanket_agreement/sale.py
  modules/sale_complaint/complaint.py
  modules/sale_opportunity/opportunity.py
  modules/sale_point/sale.py
  modules/sale_rental/sale.py
  modules/sale_subscription/subscription.py
  modules/stock/inventory.py
  modules/stock/shipment.py
  modules/stock_forecast/forecast.py
Due: check-flake8, check-isort, test-demo

Rename _get_invoice_sale in _get_invoice on sale
  modules/commission/sale.py
Due: check-flake8, check-isort

Notify subscribed users of new message in chat
  trytond/doc/ref/models.rst
  trytond/trytond/ir/chat.py
  trytond/trytond/model/chat.py
  trytond/trytond/tests/__init__.py
  trytond/trytond/tests/chat.py
  trytond/trytond/tests/message.xml
  trytond/trytond/tests/test_chat.py
Due: documentation, check-flake8, check-isort

Allow users to subscribe to notification cron jobs
  trytond/CHANGELOG
  trytond/doc/modules/ir/design/cron.inc.rst
  trytond/doc/modules/res/design.rst
  trytond/trytond/ir/cron.py
  trytond/trytond/res/user.py
  trytond/trytond/res/view/user_form.xml
  trytond/trytond/res/view/user_form_preferences.xml
Due: documentation, check-flake8, check-isort

Filter Many2Many group fields on active = True
  trytond/trytond/res/user.py
  trytond/trytond/tests/test_access.py
Due: check-flake8, check-isort

Filter Many2Many group fields on active = True
  trytond/trytond/ir/action.py
  trytond/trytond/ir/export.py
  trytond/trytond/ir/model.py
  trytond/trytond/ir/sequence.py
  trytond/trytond/ir/ui/menu.py
  trytond/trytond/res/user.py
  trytond/trytond/tests/test_access.py
Due: check-flake8, check-isort

Replace non-ascii "N°" by "No" in report templates
  modules/account_invoice/invoice.fodt
  modules/purchase/purchase.fodt
  modules/purchase_request_quotation/quotation.fodt
  modules/sale/sale.fodt
  modules/stock/customer_return_restocking_list.fodt
  modules/stock/delivery_note.fodt
  modules/stock/internal_shipment.fodt
  modules/stock/picking_list.fodt
  modules/stock/supplier_restocking_list.fodt
  modules/stock_shipment_customs/commercial_invoice.fodt
Due: test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
