Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-7.8.2
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.8.2
  .hgtags
Due: none

Prepare release project-8.0.4
  modules/project/CHANGELOG
Due: documentation, test-demo

Add tag project-8.0.4
  .hgtags
Due: none

Increase version number
  modules/project/tryton.cfg
Due: documentation, test-demo

Prepare release product-8.0.1
  modules/product/CHANGELOG
Due: documentation, test-demo

Add tag product-8.0.1
  .hgtags
Due: none

Increase version number
  modules/product/tryton.cfg
Due: documentation, test-demo

Prepare release product-7.8.3
  modules/product/CHANGELOG
Due: documentation, test-demo

Add tag product-7.8.3
  .hgtags
Due: none

Prepare release party-8.0.2
  modules/party/CHANGELOG
Due: documentation, test-demo

Add tag party-8.0.2
  .hgtags
Due: none

Increase version number
  modules/party/tryton.cfg
Due: documentation, test-demo

Prepare release party-7.8.5
  modules/party/CHANGELOG
Due: documentation, test-demo

Add tag party-7.8.5
  .hgtags
Due: none

Prepare release edocument_ubl-8.0.2
  modules/edocument_ubl/CHANGELOG
Due: documentation

Add tag edocument_ubl-8.0.2
  .hgtags
Due: none

Increase version number
  modules/edocument_ubl/tryton.cfg
Due: documentation

Prepare release commission-8.0.1
  modules/commission/CHANGELOG
Due: documentation

Add tag commission-8.0.1
  .hgtags
Due: none

Increase version number
  modules/commission/tryton.cfg
Due: documentation

Prepare release commission-7.8.1
  modules/commission/CHANGELOG
  modules/commission/COPYRIGHT
Due: documentation

Add tag commission-7.8.1
  .hgtags
Due: none

Prepare release commission-7.0.3
  modules/commission/CHANGELOG
  modules/commission/COPYRIGHT
Due: documentation

Add tag commission-7.0.3
  .hgtags
Due: none

Prepare release analytic_account-8.0.1
  modules/analytic_account/CHANGELOG
Due: documentation

Add tag analytic_account-8.0.1
  .hgtags
Due: none

Increase version number
  modules/analytic_account/tryton.cfg
Due: documentation

Prepare release analytic_account-7.8.1
  modules/analytic_account/CHANGELOG
  modules/analytic_account/COPYRIGHT
Due: documentation

Add tag analytic_account-7.8.1
  .hgtags
Due: none

Prepare release account_product-7.0.3
  modules/account_product/CHANGELOG
Due: documentation

Add tag account_product-7.0.3
  .hgtags
Due: none

Increase version number
  modules/account_product/tryton.cfg
Due: documentation
