Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release stock-7.6.6
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-7.6.6
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release stock-7.0.17
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-7.0.17
  .hgtags
Due: none

Prepare release stock-6.0.34
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-6.0.34
  .hgtags
Due: none

Prepare release sale_point-7.8.3
  modules/sale_point/CHANGELOG
Due: documentation

Add tag sale_point-7.8.3
  .hgtags
Due: none

Increase version number
  modules/sale_point/tryton.cfg
Due: documentation

Prepare release sale_point-7.6.4
  modules/sale_point/CHANGELOG
Due: documentation

Add tag sale_point-7.6.4
  .hgtags
Due: none

Prepare release sale_point-7.0.6
  modules/sale_point/CHANGELOG
Due: documentation

Add tag sale_point-7.0.6
  .hgtags
Due: none

Prepare release purchase_shipment_cost-7.8.1
  modules/purchase_shipment_cost/CHANGELOG
  modules/purchase_shipment_cost/COPYRIGHT
Due: documentation

Add tag purchase_shipment_cost-7.8.1
  .hgtags
Due: none

Increase version number
  modules/purchase_shipment_cost/tryton.cfg
Due: documentation

Prepare release purchase_shipment_cost-7.6.1
  modules/purchase_shipment_cost/CHANGELOG
  modules/purchase_shipment_cost/COPYRIGHT
Due: documentation

Add tag purchase_shipment_cost-7.6.1
  .hgtags
Due: none

Prepare release purchase_shipment_cost-7.0.1
  modules/purchase_shipment_cost/CHANGELOG
  modules/purchase_shipment_cost/COPYRIGHT
Due: documentation

Add tag purchase_shipment_cost-7.0.1
  .hgtags
Due: none

Prepare release purchase_shipment_cost-6.0.1
  modules/purchase_shipment_cost/CHANGELOG
  modules/purchase_shipment_cost/COPYRIGHT
Due: documentation

Add tag purchase_shipment_cost-6.0.1
  .hgtags
Due: none

Prepare release product_measurements-7.6.1
  modules/product_measurements/CHANGELOG
  modules/product_measurements/COPYRIGHT
Due: documentation

Add tag product_measurements-7.6.1
  .hgtags
Due: none

Increase version number
  modules/product_measurements/tryton.cfg
Due: documentation

Prepare release product_measurements-7.0.1
  modules/product_measurements/CHANGELOG
  modules/product_measurements/COPYRIGHT
Due: documentation

Add tag product_measurements-7.0.1
  .hgtags
Due: none

Prepare release product_measurements-6.0.1
  modules/product_measurements/CHANGELOG
  modules/product_measurements/COPYRIGHT
Due: documentation

Add tag product_measurements-6.0.1
  .hgtags
Due: none

Prepare release product_attribute-7.6.1
  modules/product_attribute/CHANGELOG
  modules/product_attribute/COPYRIGHT
Due: documentation
