Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release tryton-7.6.13
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.6.13
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.0.37
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.0.37
  .hgtags
Due: none

Prepare release sao-8.0.2
  sao/CHANGELOG
Due: documentation

Add tag sao-8.0.2
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.8.9
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.9
  .hgtags
Due: none

Prepare release sao-7.6.20
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.20
  .hgtags
Due: none

Prepare release sao-7.0.49
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.49
  .hgtags
Due: none

Prepare release naiad-8.0.1
  naiad/CHANGELOG
Due: documentation

Add tag naiad-8.0.1
  .hgtags
Due: none

Increase version number
  naiad/naiad/__init__.py
Due: check-flake8, check-isort

Prepare release web_shop_shopify-7.8.4
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.8.4
  .hgtags
Due: none

Increase version number
  modules/web_shop_shopify/tryton.cfg
Due: documentation

Prepare release stock_lot-8.0.1
  modules/stock_lot/CHANGELOG
Due: documentation

Add tag stock_lot-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock_lot/tryton.cfg
Due: documentation

Prepare release stock_lot-7.8.1
  modules/stock_lot/CHANGELOG
Due: documentation

Add tag stock_lot-7.8.1
  .hgtags
Due: none

Prepare release stock_lot-7.6.3
  modules/stock_lot/CHANGELOG
Due: documentation

Add tag stock_lot-7.6.3
  .hgtags
Due: none

Prepare release stock_lot-7.0.6
  modules/stock_lot/CHANGELOG
Due: documentation

Add tag stock_lot-7.0.6
  .hgtags
Due: none

Prepare release stock-7.8.3
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-7.8.3
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release stock-7.6.8
  modules/stock/CHANGELOG
Due: documentation, test-demo
