Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Prepare release account_fr_chorus-8.0.1
  modules/account_fr_chorus/CHANGELOG
Due: documentation

Add tag account_fr_chorus-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_fr_chorus/tryton.cfg
Due: documentation

Prepare release account_fr_chorus-7.8.1
  modules/account_fr_chorus/CHANGELOG
  modules/account_fr_chorus/COPYRIGHT
Due: documentation

Add tag account_fr_chorus-7.8.1
  .hgtags
Due: none

Prepare release account_fr_chorus-7.0.1
  modules/account_fr_chorus/CHANGELOG
  modules/account_fr_chorus/COPYRIGHT
Due: documentation

Add tag account_fr_chorus-7.0.1
  .hgtags
Due: none

Store any selection in selection mixin to compute textual value
  sao/src/common.js
  sao/src/view/tree.js
Due: check-eslint

Use BillThirdParty tag when requesting UPS to bill charge to customs agent
  modules/stock_package_shipping_ups/stock.py
Due: check-flake8, check-isort

Test international shipping with UPS with and without different agent account
  modules/stock_package_shipping_ups/tests/scenario_stock_package_shipping_ups_international.json
  modules/stock_package_shipping_ups/tests/scenario_stock_package_shipping_ups_international.rst
Due: check-flake8, check-isort

Add production prefix to label of cost price fields for production
  modules/production/ir.py
  modules/production/stock.py
Due: check-flake8, check-isort, test-demo

Add an optional icon to the login services
  modules/authentication_saml/routes.py
  sao/CHANGELOG
  sao/src/session.js
  tryton/CHANGELOG
  tryton/tryton/gui/window/dblogin.py
  trytond/CHANGELOG
  trytond/doc/ref/index.rst
  trytond/doc/ref/protocols/dispatcher.rst
  trytond/doc/ref/protocols/index.rst
  trytond/trytond/protocols/dispatcher.py
Due: documentation, check-flake8, check-isort, check-eslint

Prepare release sao-8.0.11
  sao/CHANGELOG
Due: documentation

Add tag sao-8.0.11
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.8.18
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.18
  .hgtags
Due: none

Prepare release sao-7.0.58
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.58
  .hgtags
Due: none

Fill direct debit payment with Stripe customer
  modules/account_payment_stripe/party.py
Due: check-flake8, check-isort

Make mandate required for SEPA direct debit reception
  modules/account_payment_sepa/party.py
Due: check-flake8, check-isort

Support getting and setting tree widths without a screen width
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort

Enforce readonly on field when checking access
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/ir/message.xml
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/access.py
  trytond/trytond/tests/test_access.py
  trytond/trytond/tests/test_report.py
  trytond/trytond/tests/test_resource.py
Due: documentation, check-flake8, check-isort

Do not copy payment amount cache when copying account move line
  modules/account_payment/account.py
Due: check-flake8, check-isort, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
