Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.0.37
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.37
  .hgtags
Due: none

Prepare release sao-6.0.66
  sao/CHANGELOG
Due: documentation

Add tag sao-6.0.66
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release web_shop_shopify-7.6.4
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.6.4
  .hgtags
Due: none

Increase version number
  modules/web_shop_shopify/tryton.cfg
Due: documentation

Prepare release web_shop_shopify-7.4.7
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.4.7
  .hgtags
Due: none

Prepare release web_shop_shopify-7.0.10
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.0.10
  .hgtags
Due: none

Prepare release stock_package_shipping_sendcloud-7.6.1
  modules/stock_package_shipping_sendcloud/CHANGELOG
Due: documentation

Add tag stock_package_shipping_sendcloud-7.6.1
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping_sendcloud/tryton.cfg
Due: documentation

Prepare release stock_package_shipping-7.6.1
  modules/stock_package_shipping/CHANGELOG
Due: documentation

Add tag stock_package_shipping-7.6.1
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping/tryton.cfg
Due: documentation

Prepare release stock_package_shipping-7.4.1
  modules/stock_package_shipping/CHANGELOG
  modules/stock_package_shipping/COPYRIGHT
Due: documentation

Add tag stock_package_shipping-7.4.1
  .hgtags
Due: none

Prepare release stock_package_shipping-7.0.2
  modules/stock_package_shipping/CHANGELOG
  modules/stock_package_shipping/COPYRIGHT
Due: documentation

Add tag stock_package_shipping-7.0.2
  .hgtags
Due: none

Prepare release sale_supply_production-7.6.1
  modules/sale_supply_production/CHANGELOG
Due: documentation

Add tag sale_supply_production-7.6.1
  .hgtags
Due: none

Increase version number
  modules/sale_supply_production/tryton.cfg
Due: documentation

Prepare release sale_supply_production-7.4.1
  modules/sale_supply_production/CHANGELOG
  modules/sale_supply_production/COPYRIGHT
Due: documentation

Add tag sale_supply_production-7.4.1
  .hgtags
Due: none

Prepare release sale_supply_production-6.0.2
  modules/sale_supply_production/CHANGELOG
  modules/sale_supply_production/COPYRIGHT
Due: documentation

Add tag sale_supply_production-6.0.2
  .hgtags
Due: none

Prepare release sale_product_quantity-7.6.1
  modules/sale_product_quantity/CHANGELOG
Due: documentation

Add tag sale_product_quantity-7.6.1
  .hgtags
Due: none

Increase version number
  modules/sale_product_quantity/tryton.cfg
Due: documentation
