Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.8.12
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.12
  .hgtags
Due: none

Prepare release sao-7.0.52
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.52
  .hgtags
Due: none

Prepare release user_role-8.0.1
  modules/user_role/CHANGELOG
Due: documentation

Add tag user_role-8.0.1
  .hgtags
Due: none

Increase version number
  modules/user_role/tryton.cfg
Due: documentation

Prepare release sale_amendment-8.0.1
  modules/sale_amendment/CHANGELOG
Due: documentation

Add tag sale_amendment-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_amendment/tryton.cfg
Due: documentation

Prepare release sale_amendment-7.8.2
  modules/sale_amendment/CHANGELOG
Due: documentation

Add tag sale_amendment-7.8.2
  .hgtags
Due: none

Prepare release sale_amendment-7.0.4
  modules/sale_amendment/CHANGELOG
Due: documentation

Add tag sale_amendment-7.0.4
  .hgtags
Due: none

Prepare release purchase_amendment-8.0.1
  modules/purchase_amendment/CHANGELOG
Due: documentation

Add tag purchase_amendment-8.0.1
  .hgtags
Due: none

Increase version number
  modules/purchase_amendment/tryton.cfg
Due: documentation

Prepare release purchase_amendment-7.8.2
  modules/purchase_amendment/CHANGELOG
Due: documentation

Add tag purchase_amendment-7.8.2
  .hgtags
Due: none

Prepare release purchase_amendment-7.0.4
  modules/purchase_amendment/CHANGELOG
Due: documentation

Add tag purchase_amendment-7.0.4
  .hgtags
Due: none

Prepare release project-8.0.2
  modules/project/CHANGELOG
Due: documentation, test-demo

Add tag project-8.0.2
  .hgtags
Due: none

Increase version number
  modules/project/tryton.cfg
Due: documentation, test-demo

Prepare release project-7.8.1
  modules/project/CHANGELOG
  modules/project/COPYRIGHT
Due: documentation, test-demo

Add tag project-7.8.1
  .hgtags
Due: none

Prepare release project-7.0.1
  modules/project/CHANGELOG
  modules/project/COPYRIGHT
Due: documentation, test-demo

Add tag project-7.0.1
  .hgtags
Due: none

Prepare release account_product-8.0.1
  modules/account_product/CHANGELOG
Due: documentation

Add tag account_product-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_product/tryton.cfg
Due: documentation
