Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release account-7.0.21
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.0.21
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Fix a typo introduced in 71bad2d56f96 (grafted from 00b04ffefb815175f78fc4083cb27063b1525e99)
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Fix a typo introduced in 71bad2d56f96
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Allow editing product on confirmed sale line with Shopify identifier
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Do not clear existing product of sale line when update from Shopify
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Reset to draft sales updated from Shopify
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Do not change the selection of row when starting the edition
  sao/src/view/tree.js
Due: check-eslint

Add carrier selection for Shopify order
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/carrier.py
  modules/web_shop_shopify/carrier.xml
  modules/web_shop_shopify/doc/design.rst
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/setup.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
  modules/web_shop_shopify/tests/test_module.py
  modules/web_shop_shopify/tryton.cfg
  modules/web_shop_shopify/view/carrier_form.xml
  modules/web_shop_shopify/view/carrier_selection_shopify_form.xml
  modules/web_shop_shopify/view/carrier_selection_shopify_list.xml
Due: documentation, check-flake8, check-isort

Do not convert integer value from binary function field
  trytond/trytond/model/fields/function.py
Due: check-flake8, check-isort

Use quantity set on the line to compute unit price from Shopify order
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Avoid performing duplicate searches when submitting the filter dialog
  sao/src/screen.js
Due: check-eslint

Set shipment cost method on Shopify sale only if a carrier is set
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Simplify tests by using movable property of line instead of product type
  modules/purchase/purchase.py
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Do not fail to compute price when carrier has no price list per weight
  modules/carrier_weight/carrier.py
Due: check-flake8, check-isort

Stop propagation of click event on button in tree view
  sao/src/view/tree.js
Due: check-eslint
