Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add tag account_statement_rule-7.8.1
  .hgtags
Due: none

Increase version number
  modules/account_statement_rule/tryton.cfg
Due: documentation

Prepare release account_statement_rule-7.6.2
  modules/account_statement_rule/CHANGELOG
  modules/account_statement_rule/COPYRIGHT
Due: documentation

Add tag account_statement_rule-7.6.2
  .hgtags
Due: none

Prepare release account_statement_rule-7.0.3
  modules/account_statement_rule/CHANGELOG
  modules/account_statement_rule/COPYRIGHT
Due: documentation

Add tag account_statement_rule-7.0.3
  .hgtags
Due: none

Prepare release account_statement_rule-6.0.4
  modules/account_statement_rule/CHANGELOG
  modules/account_statement_rule/COPYRIGHT
Due: documentation

Add tag account_statement_rule-6.0.4
  .hgtags
Due: none

Prepare release account_statement-7.8.2
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-7.8.2
  .hgtags
Due: none

Increase version number
  modules/account_statement/tryton.cfg
Due: documentation, test-demo

Prepare release account_statement-7.6.3
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-7.6.3
  .hgtags
Due: none

Prepare release account_statement-7.0.7
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-7.0.7
  .hgtags
Due: none

Prepare release account_statement-6.0.9
  modules/account_statement/CHANGELOG
  modules/account_statement/COPYRIGHT
Due: documentation, test-demo

Add tag account_statement-6.0.9
  .hgtags
Due: none

Prepare release account_payment_stripe-7.8.3
  modules/account_payment_stripe/CHANGELOG
Due: documentation

Add tag account_payment_stripe-7.8.3
  .hgtags
Due: none

Increase version number
  modules/account_payment_stripe/tryton.cfg
Due: documentation

Prepare release account_payment_stripe-7.6.4
  modules/account_payment_stripe/CHANGELOG
Due: documentation

Add tag account_payment_stripe-7.6.4
  .hgtags
Due: none

Prepare release account_payment_stripe-7.0.8
  modules/account_payment_stripe/CHANGELOG
Due: documentation

Add tag account_payment_stripe-7.0.8
  .hgtags
Due: none

Prepare release account_payment_stripe-6.0.16
  modules/account_payment_stripe/CHANGELOG
Due: documentation

Add tag account_payment_stripe-6.0.16
  .hgtags
Due: none

Prepare release account_payment_sepa-7.8.1
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/COPYRIGHT
Due: documentation

Add tag account_payment_sepa-7.8.1
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa/tryton.cfg
Due: documentation

Prepare release account_payment_sepa-7.6.2
  modules/account_payment_sepa/CHANGELOG
  modules/account_payment_sepa/COPYRIGHT
Due: documentation

Add tag account_payment_sepa-7.6.2
  .hgtags
Due: none
