Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Generate a default shipping description for the shipment
  modules/stock_package_shipping/CHANGELOG
  modules/stock_package_shipping/stock.py
  modules/stock_package_shipping/tests/test_module.py
  modules/stock_package_shipping/tryton.cfg
  modules/stock_package_shipping_ups/CHANGELOG
  modules/stock_package_shipping_ups/message.xml
  modules/stock_package_shipping_ups/stock.py
Due: documentation, check-flake8, check-isort

Do not update key value of user application on write
  trytond/trytond/res/user.py
Due: check-flake8, check-isort

Add support to domain parser to search on empty relation field
  sao/CHANGELOG
  sao/src/common.js
  sao/tests/sao.js
  tryton/CHANGELOG
  tryton/tryton/common/domain_parser.py
  tryton/tryton/tests/test_common_domain_parser.py
Due: documentation, check-flake8, check-isort, check-eslint

Remove party name from address name for shipping services
  modules/stock_package_shipping/stock.py
  modules/stock_package_shipping_dpd/stock.py
  modules/stock_package_shipping_mygls/stock.py
  modules/stock_package_shipping_sendcloud/stock.py
  modules/stock_package_shipping_ups/stock.py
  modules/web_shop_shopify/party.py
Due: check-flake8, check-isort

Save contact mechanisms of address also when only the order is changed by Shopify
  modules/web_shop_shopify/party.py
Due: check-flake8, check-isort

Update documentation of purchase request
  modules/purchase_request/CHANGELOG
  modules/purchase_request/doc/design.rst
  modules/purchase_request/doc/index.rst
  modules/purchase_request/doc/releases.rst
  modules/purchase_request/setup.py
  modules/purchase_request/tryton.cfg
Due: documentation, check-flake8, check-isort

Use the fastest product supplier when anyone can supply on time
  modules/purchase_request/CHANGELOG
  modules/purchase_request/purchase_request.py
  modules/purchase_request/tests/test_module.py
Due: documentation, check-flake8, check-isort

Include the traceback only in RPC responses in development mode
  trytond/CHANGELOG
  trytond/bin/trytond
  trytond/trytond/protocols/jsonrpc.py
  trytond/trytond/wsgi.py
Due: documentation, check-flake8, check-isort

Do not display error details if empty
  sao/src/common.js
  tryton/tryton/common/common.py
Due: check-flake8, check-isort, check-eslint

Update documentation of timesheet
  modules/timesheet/CHANGELOG
  modules/timesheet/doc/design.rst
  modules/timesheet/doc/index.rst
  modules/timesheet/doc/releases.rst
  modules/timesheet/doc/user_application.rst
Due: documentation, test-demo

Lock web shops when fetching order from Shopify
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Include origin name in stock move record name
  modules/production/stock.py
  modules/stock/move.py
Due: check-flake8, check-isort, test-demo

Search on the Target model in O2M when it has an active field
  trytond/trytond/model/fields/one2many.py
  trytond/trytond/tests/field_many2many.py
  trytond/trytond/tests/field_one2many.py
  trytond/trytond/tests/test_field_many2many.py
  trytond/trytond/tests/test_field_one2many.py
Due: check-flake8, check-isort

Enforce access check in HTML editor route
  trytond/CHANGELOG
  trytond/trytond/ir/routes.py
Due: documentation, check-flake8, check-isort

Add routings on bom form
  modules/production_routing/production.py
  modules/production_routing/production.xml
  modules/production_routing/tryton.cfg
  modules/production_routing/view/bom_form.xml
Due: documentation, check-flake8, check-isort, test-demo

Enforce access check in export_data
  trytond/CHANGELOG
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/test_exportdata.py
Due: documentation, check-flake8, check-isort

Enforce access check in export_data
  trytond/CHANGELOG
  trytond/trytond/model/modelstorage.py
Due: documentation, check-flake8, check-isort

Update documentation of purchase request quotation
  modules/purchase_request_quotation/CHANGELOG
  modules/purchase_request_quotation/doc/design.rst
  modules/purchase_request_quotation/doc/index.rst
  modules/purchase_request_quotation/doc/releases.rst
  modules/purchase_request_quotation/setup.py
  modules/purchase_request_quotation/tryton.cfg
Due: documentation, check-flake8, check-isort

Do not create contact mechanism for invalid email from Shopify
  modules/web_shop_shopify/party.py
Due: check-flake8, check-isort

Support UBL file in document incoming
  modules/edocument_ubl/document.py
  modules/edocument_ubl/setup.py
  modules/edocument_ubl/tests/test_module.py
  modules/edocument_ubl/tryton.cfg
Due: documentation, check-flake8, check-isort
