Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Increase display size only once per more row
  sao/src/view/tree.js
Due: check-eslint

Do not deduce pending payments linked to a line from direct debit balance
  modules/account_payment/party.py
Due: check-flake8, check-isort, test-demo

Set Message-Id to email sent
  trytond/CHANGELOG
  trytond/trytond/ir/email_.py
  trytond/trytond/ir/view/email_form.xml
  trytond/trytond/ir/view/email_list.xml
  trytond/trytond/sendmail.py
  trytond/trytond/tests/test_ir.py
  trytond/trytond/tests/test_sendmail.py
Due: documentation, check-flake8, check-isort

Increase minimal ECMAScript version to 8
  sao/eslint.config.mjs
  sao/src/sao.js
Due: check-eslint

Fill secondary unit from product customer
  modules/sale_secondary_unit/CHANGELOG
  modules/sale_secondary_unit/sale.py
  modules/sale_secondary_unit/tests/scenario_sale_secondary_unit.rst
Due: documentation, check-flake8, check-isort

Fill secondary unit from product supplier
  modules/purchase_secondary_unit/CHANGELOG
  modules/purchase_secondary_unit/purchase.py
  modules/purchase_secondary_unit/tests/scenario_purchase_secondary_unit.rst
Due: documentation, check-flake8, check-isort

Store column widths by screen size
  sao/src/screen.js
  sao/src/view/tree.js
  tryton/tryton/common/__init__.py
  tryton/tryton/common/common.py
  tryton/tryton/gui/window/view_form/screen/screen.py
  tryton/tryton/gui/window/view_form/view/list.py
  trytond/trytond/ir/ui/view.py
  trytond/trytond/ir/view/ui_view_tree_width_form.xml
  trytond/trytond/ir/view/ui_view_tree_width_list.xml
  trytond/trytond/model/modelview.py
Due: check-flake8, check-isort, check-eslint

Allow column resizing in Sao
  sao/CHANGELOG
  sao/src/sao.less
  sao/src/screen.js
  sao/src/view/tree.js
Due: documentation, check-eslint

Allow column widths to be reset
  sao/CHANGELOG
  sao/src/view/tree.js
  tryton/CHANGELOG
  tryton/tryton/gui/window/view_form/view/list.py
  trytond/trytond/ir/ui/view.py
Due: documentation, check-flake8, check-isort, check-eslint

Do not set twice the result of an on_change call in a x2many
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/field.py
Due: check-flake8, check-isort, check-eslint

Use hasOwnProperty to check for key presence in object
  sao/src/model.js
Due: check-eslint

Use hasOwnProperty to check for key presence in object (grafted from cf8342493b04bbe07b172f2e078549ef3de00210)
  sao/src/model.js
Due: check-eslint

Do not fill to_post_number with empty value in Sendcloud parcel
  modules/stock_package_shipping_sendcloud/stock.py
Due: check-flake8, check-isort

Merge company into party name for Shopify address
  modules/web_shop_shopify/party.py
Due: check-flake8, check-isort

Remove unused global variable in tryton plugins and rpc
  tryton/tryton/plugins/__init__.py
  tryton/tryton/rpc.py
Due: check-flake8, check-isort

Do not skip other invoices when printing an invoice that has a cache
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Always fill debit and credit of grouped account move line
  modules/account_move_line_grouping/account.py
Due: check-flake8, check-isort

Do not clear non unique help translation
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
