Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Add tag production_outsourcing-7.6.1
  .hgtags
Due: none

Increase version number
  modules/production_outsourcing/tryton.cfg
Due: documentation

Prepare release production_outsourcing-7.4.1
  modules/production_outsourcing/CHANGELOG
Due: documentation

Add tag production_outsourcing-7.4.1
  .hgtags
Due: none

Prepare release production_outsourcing-7.0.2
  modules/production_outsourcing/CHANGELOG
Due: documentation

Add tag production_outsourcing-7.0.2
  .hgtags
Due: none

Add tag account_payment_stripe-7.6.1
  .hgtags
Due: none

Prepare release account_payment_stripe-7.6.1
  modules/account_payment_stripe/CHANGELOG
Due: documentation

Increase version number
  modules/account_payment_stripe/tryton.cfg
Due: documentation

Prepare release account_payment_stripe-7.4.1
  modules/account_payment_stripe/CHANGELOG
  modules/account_payment_stripe/COPYRIGHT
Due: documentation

Add tag account_payment_stripe-7.4.1
  .hgtags
Due: none

Prepare release account_payment_stripe-7.0.5
  modules/account_payment_stripe/CHANGELOG
  modules/account_payment_stripe/COPYRIGHT
Due: documentation

Add tag account_payment_stripe-7.0.5
  .hgtags
Due: none

Group invoice and shipment also per sale line component as origin
  modules/product_kit/sale.py
  modules/product_kit/tryton.cfg
  modules/sale_invoice_grouping/sale.py
  modules/sale_shipment_grouping/sale.py
Due: documentation, check-flake8, check-isort

Format date with contextual language when used as record name
  modules/currency/currency.py
  modules/product_cost_history/product.py
  modules/stock/period.py
  modules/timesheet_cost/company.py
Due: check-flake8, check-isort, test-demo

Make target ids unique when reading related fields
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Load sub-fields of xxx2Many only for lazy loading
  sao/src/model.js
  tryton/tryton/gui/window/view_form/model/record.py
Due: check-flake8, check-isort, check-eslint

Fallback to id as record name when _rec_name value is empty
  modules/sale_gift_card/sale.py
  modules/sale_point/sale.py
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Escape record name used in testing regex
  trytond/trytond/tests/test_field_many2one.py
  trytond/trytond/tests/test_field_one2one.py
  trytond/trytond/tests/test_field_reference.py
Due: check-flake8, check-isort

Document the scheduled task to assign shipments and productions
  modules/production/doc/index.rst
  modules/production/doc/usage.rst
  modules/stock/doc/usage/shipment.inc.rst
Due: documentation, test-demo

Add an option to trytond-console to run a script file
  trytond/CHANGELOG
  trytond/trytond/commandline.py
  trytond/trytond/console.py
Due: documentation, check-flake8, check-isort

Use mouse events instead of drag/drop events to resize column
  sao/src/view/tree.js
Due: check-eslint

Test if production has warehouse before reading its address
  modules/account_stock_eu/stock.py
Due: check-flake8, check-isort

Do not migrate the account periods to a strict sequence if there is no sequence
  modules/account/period.py
Due: check-flake8, check-isort, test-demo

Set column width only when the tree view is initialized
  sao/src/view/tree.js
Due: check-eslint

Add stock_shipment_customs module
  .gitlab-ci-modules.yml
  modules/stock_shipment_customs/CHANGELOG
  modules/stock_shipment_customs/COPYRIGHT
  modules/stock_shipment_customs/LICENSE
  modules/stock_shipment_customs/MANIFEST.in
  modules/stock_shipment_customs/README.rst
  modules/stock_shipment_customs/__init__.py
  modules/stock_shipment_customs/commercial_invoice.fodt
  modules/stock_shipment_customs/customs.py
  modules/stock_shipment_customs/customs.xml
  modules/stock_shipment_customs/doc/conf.py
  modules/stock_shipment_customs/doc/design.rst
  modules/stock_shipment_customs/doc/index.rst
  modules/stock_shipment_customs/doc/releases.rst
  modules/stock_shipment_customs/doc/requirements-doc.txt
  modules/stock_shipment_customs/icons/LICENSE
  modules/stock_shipment_customs/setup.py
  modules/stock_shipment_customs/stock.py
  modules/stock_shipment_customs/stock.xml
  modules/stock_shipment_customs/tests/__init__.py
  modules/stock_shipment_customs/tests/scenario_stock_shipment_customs.rst
  modules/stock_shipment_customs/tests/test_module.py
  modules/stock_shipment_customs/tests/test_scenario.py
  modules/stock_shipment_customs/tox.ini
  modules/stock_shipment_customs/tryton.cfg
  modules/stock_shipment_customs/view/stock_move_form.xml
  modules/stock_shipment_customs/view/stock_shipment_customs_form.xml
  modules/stock_shipment_customs/view/stock_shipment_customs_list.xml
Due: documentation, check-flake8, check-isort

Hide all payment fields and buttons when using a different process method
  modules/account_payment_braintree/account.py
  modules/account_payment_stripe/payment.py
Due: check-flake8, check-isort

Use revenue account when the asset value increases or residual value is positive
  modules/account_asset/asset.py
  modules/account_asset/tests/scenario_account_asset.rst
  modules/account_asset/tests/scenario_account_asset_depreciated.rst
Due: check-flake8, check-isort

Do not allow translations to be set or exported unless the default language is English
  trytond/doc/topics/translation.rst
  trytond/trytond/ir/message.xml
  trytond/trytond/ir/translation.py
Due: documentation, check-flake8, check-isort

Apply SQLite types in check_session query
  trytond/trytond/security.py
  trytond/trytond/tests/test_security.py
Due: check-flake8, check-isort

Merge security.check_session and security.check
  trytond/trytond/security.py
  trytond/trytond/tests/test_security.py
  trytond/trytond/tests/test_wsgi.py
  trytond/trytond/wsgi.py
Due: check-flake8, check-isort

Limit implicit locations to the child of warehouses when supplying for internal shipments
  modules/stock_supply/shipment.py
Due: check-flake8, check-isort

Filter order points using child of operator when supplying with internal shipments
  modules/stock_supply/shipment.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
