Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Remove prefix for statement and payment journals action
  modules/account_payment/payment.xml
  modules/account_statement/journal.xml
Due: test-demo

Prepare release trytond-8.0.7
  trytond/CHANGELOG
Due: documentation

Add tag trytond-8.0.7
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.8.13
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.8.13
  .hgtags
Due: none

Prepare release trytond-7.0.54
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.54
  .hgtags
Due: none

Prepare release tryton-8.0.7
  tryton/CHANGELOG
Due: documentation

Add tag tryton-8.0.7
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.8.12
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.8.12
  .hgtags
Due: none

Prepare release tryton-7.0.42
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.0.42
  .hgtags
Due: none

Prepare release sao-8.0.7
  sao/CHANGELOG
Due: documentation

Add tag sao-8.0.7
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.8.14
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.14
  .hgtags
Due: none

Prepare release sao-7.0.54
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.54
  .hgtags
Due: none

Prepare release web_user-8.0.1
  modules/web_user/CHANGELOG
Due: documentation

Add tag web_user-8.0.1
  .hgtags
Due: none

Increase version number
  modules/web_user/tryton.cfg
Due: documentation

Prepare release web_user-7.8.2
  modules/web_user/CHANGELOG
Due: documentation

Add tag web_user-7.8.2
  .hgtags
Due: none

Prepare release web_shop_shopify-8.0.3
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-8.0.3
  .hgtags
Due: none

Increase version number
  modules/web_shop_shopify/tryton.cfg
Due: documentation

Prepare release web_shop_shopify-7.8.7
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.8.7
  .hgtags
Due: none
