Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Use the right primary column name for PostgreSQL database method
  trytond/trytond/backend/postgresql/database.py
Due: check-flake8, check-isort

Use the target id to compute the filter clause of a O2M field compared to None
  trytond/trytond/model/fields/one2many.py
  trytond/trytond/tests/test_field_one2many.py
Due: check-flake8, check-isort

Add documentation about notification
  trytond/doc/modules/res/design.rst
Due: documentation

Use shipment select of stock move as selection for lot trace document
  modules/stock_lot/stock.py
Due: check-flake8, check-isort

Test action window using existing records from the keywords
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Test check_credit_limit using a record as origin
  modules/account_credit_limit/tests/test_module.py
Due: check-flake8, check-isort

Fix format of the account_statement_rule CHANGELOG
  modules/account_statement_rule/CHANGELOG
Due: documentation

Fix domain parser for Reference field when there is no value but a target
  sao/src/common.js
  sao/tests/sao.js
  tryton/tryton/common/domain_parser.py
  tryton/tryton/tests/test_common_domain_parser.py
Due: check-flake8, check-isort, check-eslint

Return the journal for a bank account if only one journal matches
  modules/account_statement/journal.py
Due: check-flake8, check-isort, test-demo

Clarify the "no statement journal" error message about uniqueness
  modules/account_statement/message.xml
Due: test-demo

Update documentation of sale complaint
  modules/sale_complaint/CHANGELOG
  modules/sale_complaint/doc/design.rst
  modules/sale_complaint/doc/index.rst
  modules/sale_complaint/doc/releases.rst
Due: documentation

Add export/import duties on incoterm
  modules/incoterm/CHANGELOG
  modules/incoterm/incoterm.py
  modules/incoterm/incoterm.xml
  modules/incoterm/view/incoterm_form.xml
  modules/incoterm/view/incoterm_list.xml
Due: documentation, check-flake8, check-isort

Charge duties and taxes to shipper based on incoterm
  modules/stock_package_shipping_ups/CHANGELOG
  modules/stock_package_shipping_ups/stock.py
  modules/stock_package_shipping_ups/tests/scenario_stock_package_shipping_ups_international.rst
Due: documentation, check-flake8, check-isort

Log exception when retrieve file ID from the filestore for Binary field
  trytond/trytond/model/fields/binary.py
Due: check-flake8, check-isort

Log exception when opening view arch
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort

Add tag 7.8.0
  .hgtags
Due: none

Replace notify method by binded version in constructor of chat and notification menu
  sao/src/chat.js
  sao/src/notification.js
  sao/src/sao.js
Due: check-eslint

Replace notify method by binded version in constructor of chat and notification menu
  sao/src/chat.js
Due: check-eslint
