Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Add tag account_statement_rule-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_statement_rule/tryton.cfg
Due: documentation

Prepare release account_statement_rule-7.0.2
  modules/account_statement_rule/CHANGELOG
  modules/account_statement_rule/COPYRIGHT
Due: documentation

Add tag account_statement_rule-7.0.2
  .hgtags
Due: none

Prepare release account_statement_rule-6.0.3
  modules/account_statement_rule/CHANGELOG
  modules/account_statement_rule/COPYRIGHT
Due: documentation

Add tag account_statement_rule-6.0.3
  .hgtags
Due: none

Prepare release account_payment_stripe-6.0.13
  modules/account_payment_stripe/CHANGELOG
  modules/account_payment_stripe/COPYRIGHT
Due: documentation

Add tag account_payment_stripe-6.0.13
  .hgtags
Due: none

Increase version number
  modules/account_payment_stripe/tryton.cfg
Due: documentation

Prepare release account-7.6.5
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.6.5
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Prepare release sao-7.6.10
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.10
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.4.20
  sao/CHANGELOG
Due: documentation

Add tag sao-7.4.20
  .hgtags
Due: none

Prepare release sao-7.0.39
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.39
  .hgtags
Due: none

Prepare release sao-6.0.68
  sao/CHANGELOG
Due: documentation

Add tag sao-6.0.68
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Use the same label for the quality inspect wizard on production as on shipments
  modules/quality/production.xml
Due: none

Force reload on save of record
  sao/src/model.js
Due: check-eslint

Store only immutable structure or make a shallow copy in MemoryCache
  trytond/CHANGELOG
  trytond/doc/ref/cache.rst
  trytond/trytond/cache.py
  trytond/trytond/ir/action.py
  trytond/trytond/ir/model.py
  trytond/trytond/ir/ui/view.py
  trytond/trytond/tests/test_cache.py
Due: documentation, check-flake8, check-isort

Set currency field when creating invoice tax via on_change
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Add missing depends on currency to the TaxableMixin._round_taxes method
  modules/account/tax.py
Due: check-flake8, check-isort, test-demo

Convert max_tasks_per_child to None when the value is 0
  trytond/trytond/cron.py
  trytond/trytond/worker.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
