Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Replace extension separator by underscore in report name used as temporary file (grafted from 646d50f1e24e3070c5cfc7817e1a19ed8202c08d)
  trytond/trytond/report/report.py
Due: check-flake8, check-isort

Set product on invoice line base on allowance/charge reason code from UBL invoice
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Use create date to calculate production work duration without write date
  modules/production_work/work.py
Due: check-flake8, check-isort, test-demo

Use tables and Model as arguments for sql_column of the Field
  modules/account_payment/payment.py
  modules/bank/bank.py
  modules/country/country.py
  modules/product_cost_fifo/move.py
  trytond-gis/trytond_gis/fields.py
  trytond/CHANGELOG
  trytond/doc/ref/fields.rst
  trytond/trytond/model/fields/char.py
  trytond/trytond/model/fields/dict.py
  trytond/trytond/model/fields/field.py
  trytond/trytond/model/fields/many2many.py
  trytond/trytond/model/fields/many2one.py
  trytond/trytond/model/fields/multiselection.py
  trytond/trytond/model/fields/one2many.py
  trytond/trytond/model/fields/reference.py
  trytond/trytond/model/fields/selection.py
  trytond/trytond/model/fields/text.py
  trytond/trytond/model/modelsql.py
Due: documentation, check-flake8, check-isort, test-demo

Allow customizing SQL expression of field
  trytond/CHANGELOG
  trytond/doc/ref/fields.rst
  trytond/trytond/model/fields/field.py
  trytond/trytond/tests/test_tryton.py
Due: documentation, check-flake8, check-isort

Remove gap for empty row or column
  sao/src/sao.less
  sao/src/view/form.js
Due: check-eslint

Set required on value of party's contact mechanism
  modules/party/contact_mechanism.py
  modules/party/party.py
  modules/party/tests/scenario_party_erase.rst
Due: check-flake8, check-isort, test-demo

Correctly render address streets in UBL invoice for Peppol
  modules/edocument_ubl/template/2/base.xml
  modules/edocument_ubl/tests/test_module.py
Due: check-flake8, check-isort

Set incoterm required on extended intrastat for sale between EU countries
  modules/account_stock_eu/sale.py
  modules/account_stock_eu/tests/test_module.py
  modules/incoterm/tests/test_module.py
Due: check-flake8, check-isort

Support Function field without getter but SQL expression
  trytond/CHANGELOG
  trytond/doc/ref/fields.rst
  trytond/trytond/ir/message.xml
  trytond/trytond/model/fields/function.py
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/field_function.py
  trytond/trytond/tests/test_field_function.py
  trytond/trytond/tests/test_tryton.py
Due: documentation, check-flake8, check-isort

Display and order by create date/time in error list
  trytond/trytond/ir/error.py
  trytond/trytond/ir/view/error_list.xml
Due: check-flake8, check-isort

Prepare release trytond-7.8.4
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.8.4
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.6.16
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.6.16
  .hgtags
Due: none

Prepare release trytond-7.0.45
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.45
  .hgtags
Due: none

Prepare release trytond-6.0.73
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-6.0.73
  .hgtags
Due: none

Prepare release tryton-7.8.2
  tryton/CHANGELOG
  tryton/COPYRIGHT
  tryton/tryton/gui/window/about.py
Due: documentation, check-flake8, check-isort

Add tag tryton-7.8.2
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.6.8
  tryton/CHANGELOG
  tryton/COPYRIGHT
  tryton/tryton/gui/window/about.py
Due: documentation, check-flake8, check-isort

Add tag tryton-7.6.8
  .hgtags
Due: none

Prepare release tryton-7.0.32
  tryton/CHANGELOG
  tryton/COPYRIGHT
  tryton/tryton/gui/window/about.py
Due: documentation, check-flake8, check-isort

Add tag tryton-7.0.32
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
