Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Clear fields_view_get cache after resetting column widths (grafted from dcd74e5a2ee95506fe924df78c6fa3f712ff715a)
  sao/src/view/tree.js
  tryton/tryton/gui/window/view_form/view/list.py
Due: check-flake8, check-isort, check-eslint

Clear fields_view_get cache after resetting column widths
  sao/src/view/tree.js
  tryton/tryton/gui/window/view_form/view/list.py
Due: check-flake8, check-isort, check-eslint

Do not use attribute width as computed width and restore computed width on reset
  tryton/tryton/gui/window/view_form/view/list.py
Due: check-flake8, check-isort

Store column widths per occurrence
  sao/src/view/tree.js
  tryton/tryton/gui/window/view_form/screen/screen.py
  tryton/tryton/gui/window/view_form/view/list.py
  trytond/trytond/ir/message.xml
  trytond/trytond/ir/ui/view.py
  trytond/trytond/ir/view/ui_view_tree_width_form.xml
  trytond/trytond/ir/view/ui_view_tree_width_list.xml
  trytond/trytond/model/modelview.py
  trytond/trytond/tests/test_ir.py
Due: check-flake8, check-isort, check-eslint

Permit administrator to create incoming Peppol document
  modules/edocument_peppol/edocument.py
  modules/edocument_peppol/edocument.xml
Due: check-flake8, check-isort

Use python3 in shebang (grafted from cc8ffd818eb743822ca9014abe4f6cc2f1af5596)
  .gitlab-scripts/doctest2python.py
  .gitlab-scripts/generate-ci.py
  .hooks/link_modules
  .hooks/update_requirements
  modules/country/scripts/import_postal_codes.py
  modules/purchase_shipment_cost/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Use python3 in shebang (grafted from cc8ffd818eb743822ca9014abe4f6cc2f1af5596)
  .gitlab-scripts/generate-ci.py
  .hooks/link_modules
  .hooks/update_requirements
  modules/country/scripts/import_postal_codes.py
  modules/purchase_shipment_cost/tests/test_purchase_shipment_cost.py
Due: check-flake8, check-isort, test-demo

Use python3 in shebang
  .gitlab-scripts/doctest2python.py
  .gitlab-scripts/generate-ci.py
  .hooks/link_modules
  .hooks/update_requirements
  modules/country/scripts/import_postal_codes.py
  modules/purchase_shipment_cost/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Use python3 in shebang (grafted from cc8ffd818eb743822ca9014abe4f6cc2f1af5596)
  .gitlab-scripts/generate-ci.py
  .hooks/link_modules
  .hooks/update_requirements
  modules/country/scripts/import_postal_codes.py
  modules/purchase_shipment_cost/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Explicitly close sqlite connection
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Unpublish the products from the web shops when deactivating them
  modules/web_shop/product.py
Due: check-flake8, check-isort

Do not show empty web shop URL for product
  modules/web_shop/product.py
Due: check-flake8, check-isort

Add fields that calculate if the invoice is sent via Peppol
  modules/edocument_peppol/account.py
Due: check-flake8, check-isort

Normalize Sao language codes to BCP 47 format
  sao/src/sao.js
  sao/src/screen.js
  sao/src/view/calendar.js
  sao/src/view/form.js
Due: check-eslint

Fix typo in menuitem handler docstring Closes #14655
  trytond/trytond/convert.py
Due: check-flake8, check-isort

Filter out empty references and numbers when joining them from sales for UBL invoice
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Use party lang Function field to set language for taxes and chat
  modules/account_invoice/invoice.py
  modules/purchase/purchase.py
  modules/sale/sale.py
Due: check-flake8, check-isort, test-demo

Add deprecation warning when new API version for Stripe is available
  modules/account_payment_stripe/payment.py
Due: check-flake8, check-isort

Update to Stripe API version 2025-09-30.clover
  modules/account_payment_stripe/CHANGELOG
  modules/account_payment_stripe/payment.py
Due: documentation, check-flake8, check-isort

Replace the UN M49 unstats link by Wikipedia link in the country documentation
  modules/country/doc/design.rst
Due: documentation, test-demo

Add empty extras test to modules without needs
  modules/product_attribute/setup.py
  modules/product_measurements/setup.py
Due: check-flake8, check-isort

Do not select the invoice company as consolidation company
  modules/account_consolidation/account.py
Due: check-flake8, check-isort

Test consolidation company selection on invoice numbering
  modules/account_consolidation/tests/scenario_invoice.rst
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
