Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release account_payment_sepa-6.0.10
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-6.0.10
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa/tryton.cfg
Due: documentation

Prepare release account_invoice-7.4.3
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-7.4.3
  .hgtags
Due: none

Increase version number
  modules/account_invoice/tryton.cfg
Due: documentation, test-demo

Prepare release account_invoice-7.2.8
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-7.2.8
  .hgtags
Due: none

Prepare release account_invoice-7.0.12
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-7.0.12
  .hgtags
Due: none

Prepare release account_invoice-6.0.21
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-6.0.21
  .hgtags
Due: none

Prepare release account_credit_limit-7.4.1
  modules/account_credit_limit/CHANGELOG
  modules/account_credit_limit/COPYRIGHT
Due: documentation

Add tag account_credit_limit-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_credit_limit/tryton.cfg
Due: documentation

Prepare release account_credit_limit-7.2.2
  modules/account_credit_limit/CHANGELOG
  modules/account_credit_limit/COPYRIGHT
Due: documentation

Add tag account_credit_limit-7.2.2
  .hgtags
Due: none

Prepare release account_credit_limit-7.0.2
  modules/account_credit_limit/CHANGELOG
  modules/account_credit_limit/COPYRIGHT
Due: documentation

Add tag account_credit_limit-7.0.2
  .hgtags
Due: none

Prepare release account_credit_limit-6.0.2
  modules/account_credit_limit/CHANGELOG
  modules/account_credit_limit/COPYRIGHT
Due: documentation

Add tag account_credit_limit-6.0.2
  .hgtags
Due: none

Prepare release account_consolidation-7.4.1
  modules/account_consolidation/CHANGELOG
  modules/account_consolidation/COPYRIGHT
Due: documentation

Add tag account_consolidation-7.4.1
  .hgtags
Due: none

Increase version number
  modules/account_consolidation/tryton.cfg
Due: documentation

Prepare release account_consolidation-7.2.1
  modules/account_consolidation/CHANGELOG
  modules/account_consolidation/COPYRIGHT
Due: documentation

Add tag account_consolidation-7.2.1
  .hgtags
Due: none

Prepare release account_consolidation-7.0.1
  modules/account_consolidation/CHANGELOG
  modules/account_consolidation/COPYRIGHT
Due: documentation

Add tag account_consolidation-7.0.1
  .hgtags
Due: none

Prepare release account-7.4.6
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.4.6
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Prepare release account-7.2.13
  modules/account/CHANGELOG
Due: documentation, test-demo
