Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  modules/incoterm/tryton.cfg
Due: documentation

Prepare release edocument_uncefact-7.8.1
  modules/edocument_uncefact/CHANGELOG
  modules/edocument_uncefact/COPYRIGHT
Due: documentation

Add tag edocument_uncefact-7.8.1
  .hgtags
Due: none

Increase version number
  modules/edocument_uncefact/tryton.cfg
Due: documentation

Prepare release edocument_ubl-7.8.5
  modules/edocument_ubl/CHANGELOG
Due: documentation

Add tag edocument_ubl-7.8.5
  .hgtags
Due: none

Increase version number
  modules/edocument_ubl/tryton.cfg
Due: documentation

Prepare release edocument_peppol_peppyrus-7.8.3
  modules/edocument_peppol_peppyrus/CHANGELOG
Due: documentation

Add tag edocument_peppol_peppyrus-7.8.3
  .hgtags
Due: none

Increase version number
  modules/edocument_peppol_peppyrus/tryton.cfg
Due: documentation

Prepare release document_incoming_ocr-7.8.1
  modules/document_incoming_ocr/CHANGELOG
  modules/document_incoming_ocr/COPYRIGHT
Due: documentation

Add tag document_incoming_ocr-7.8.1
  .hgtags
Due: none

Increase version number
  modules/document_incoming_ocr/tryton.cfg
Due: documentation

Prepare release document_incoming_invoice-7.8.1
  modules/document_incoming_invoice/CHANGELOG
  modules/document_incoming_invoice/COPYRIGHT
Due: documentation

Add tag document_incoming_invoice-7.8.1
  .hgtags
Due: none

Increase version number
  modules/document_incoming_invoice/tryton.cfg
Due: documentation

Prepare release document_incoming_invoice-7.6.2
  modules/document_incoming_invoice/CHANGELOG
  modules/document_incoming_invoice/COPYRIGHT
Due: documentation

Add tag document_incoming_invoice-7.6.2
  .hgtags
Due: none

Prepare release document_incoming_invoice-7.0.2
  modules/document_incoming_invoice/CHANGELOG
  modules/document_incoming_invoice/COPYRIGHT
Due: documentation

Add tag document_incoming_invoice-7.0.2
  .hgtags
Due: none

Prepare release account_stock_eu-7.8.1
  modules/account_stock_eu/CHANGELOG
Due: documentation

Add tag account_stock_eu-7.8.1
  .hgtags
Due: none

Increase version number
  modules/account_stock_eu/tryton.cfg
Due: documentation

Prepare release account_stock_eu-7.6.7
  modules/account_stock_eu/CHANGELOG
Due: documentation

Add tag account_stock_eu-7.6.7
  .hgtags
Due: none

Prepare release account_payment-7.8.2
  modules/account_payment/CHANGELOG
Due: documentation, test-demo

Add tag account_payment-7.8.2
  .hgtags
Due: none

Increase version number
  modules/account_payment/tryton.cfg
Due: documentation, test-demo

Prepare release account_payment-7.6.5
  modules/account_payment/CHANGELOG
Due: documentation, test-demo

Add tag account_payment-7.6.5
  .hgtags
Due: none

Prepare release account_payment-7.0.5
  modules/account_payment/CHANGELOG
  modules/account_payment/COPYRIGHT
Due: documentation, test-demo

Add tag account_payment-7.0.5
  .hgtags
Due: none

Prepare release account_invoice-7.8.1
  modules/account_invoice/CHANGELOG
  modules/account_invoice/COPYRIGHT
Due: documentation, test-demo

Add tag account_invoice-7.8.1
  .hgtags
Due: none

Increase version number
  modules/account_invoice/tryton.cfg
Due: documentation, test-demo
