Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Always surround WHERE clause with parentheses in EXCLUDE constraint
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Do not use Literal to count in SQL
  modules/account/account.py
  modules/account/pyproject.toml
  modules/account_es/pyproject.toml
  modules/account_es/reporting_tax.py
  modules/marketing_automation/marketing_automation.py
  modules/marketing_automation/marketing_automation_reporting.py
  modules/marketing_automation/pyproject.toml
  modules/marketing_email/marketing.py
  modules/purchase/product.py
  modules/purchase/purchase.py
  modules/purchase/pyproject.toml
  modules/sale_opportunity/opportunity_reporting.py
  modules/sale_opportunity/pyproject.toml
  trytond/trytond/backend/postgresql/database.py
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/ir/trigger.py
  trytond/trytond/model/modelsql.py
  trytond/trytond/res/notification.py
  trytond/trytond/res/user.py
Due: check-flake8, check-isort, test-demo

Use ID read of note in tests
  trytond/trytond/tests/test_resource.py
Due: check-flake8, check-isort

Use array as IN operators
  trytond/CHANGELOG
  trytond/trytond/backend/database.py
  trytond/trytond/backend/postgresql/database.py
  trytond/trytond/model/fields/binary.py
  trytond/trytond/model/fields/field.py
  trytond/trytond/model/fields/many2many.py
  trytond/trytond/model/fields/many2one.py
  trytond/trytond/model/modelsql.py
Due: documentation, check-flake8, check-isort

Split the UBL OrderReference field into sale reference and sale number
  modules/edocument_ubl/edocument.py
  modules/edocument_ubl/setup.py
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_ubl/tests/test_module.py
  modules/edocument_ubl/tryton.cfg
Due: documentation, check-flake8, check-isort

Prevent default event when clicking on Many2One link from a tree view
  sao/src/view/tree.js
Due: check-eslint

Maintain the original reference when splitting shipments and productions
  modules/production_split/production.py
  modules/stock_split/stock.py
Due: check-flake8, check-isort

Set only one payment term for Peppol UBL and only if the description is not empty
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Set an order reference to UBL invoice to test Peppyrus
  modules/edocument_peppol_peppyrus/tests/invoice.xml
Due: none

Order product by position instead of sequence for Shopify
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Fallback to location key from context to compute product quantity
  modules/stock/product.py
Due: check-flake8, check-isort, test-demo

Use Many2One field for product and variant on stock reporting
  modules/stock/stock_reporting.py
  modules/stock/stock_reporting.xml
  modules/stock/tests/scenario_stock_reporting_inventory.rst
  modules/stock/view/reporting_inventory_daily_form.xml
  modules/stock/view/reporting_inventory_daily_list.xml
  modules/stock/view/reporting_inventory_form.xml
  modules/stock/view/reporting_inventory_list.xml
  modules/stock/view/reporting_inventory_move_form.xml
  modules/stock/view/reporting_inventory_move_list.xml
  modules/stock/view/reporting_inventory_turnover_form.xml
  modules/stock/view/reporting_inventory_turnover_list.xml
Due: check-flake8, check-isort, test-demo

Retries when testing fetching message from Peppyrus
  modules/edocument_peppol_peppyrus/tests/scenario_edocument_peppol_peppyrus.rst
Due: check-flake8, check-isort

Warn against creating an overpayment
  modules/account_payment/CHANGELOG
  modules/account_payment/account.py
  modules/account_payment/message.xml
  modules/account_payment/tests/scenario_account_payment_overpay.rst
Due: documentation, check-flake8, check-isort, test-demo

Use the normalized format for the warning key regarding overpayment
  modules/account_payment/payment.py
Due: check-flake8, check-isort, test-demo

Do not set SellersItemIdentification UBL tag if product has no code
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
