Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Increase version number
  modules/purchase_request_quotation/tryton.cfg
Due: documentation

Prepare release project-8.0.1
  modules/project/CHANGELOG
Due: documentation, test-demo

Add tag project-8.0.1
  .hgtags
Due: none

Increase version number
  modules/project/tryton.cfg
Due: documentation, test-demo

Prepare release product_kit-8.0.1
  modules/product_kit/CHANGELOG
Due: documentation

Add tag product_kit-8.0.1
  .hgtags
Due: none

Increase version number
  modules/product_kit/tryton.cfg
Due: documentation

Prepare release product_kit-7.8.1
  modules/product_kit/CHANGELOG
  modules/product_kit/COPYRIGHT
Due: documentation

Add tag product_kit-7.8.1
  .hgtags
Due: none

Prepare release product_kit-7.0.8
  modules/product_kit/CHANGELOG
  modules/product_kit/COPYRIGHT
Due: documentation

Add tag product_kit-7.0.8
  .hgtags
Due: none

Prepare release account_stock_eu-8.0.1
  modules/account_stock_eu/CHANGELOG
Due: documentation

Add tag account_stock_eu-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_stock_eu/tryton.cfg
Due: documentation

Prepare release account_stock_eu-7.8.2
  modules/account_stock_eu/CHANGELOG
  modules/account_stock_eu/COPYRIGHT
Due: documentation

Add tag account_stock_eu-7.8.2
  .hgtags
Due: none

Prepare release account_stock_eu-7.0.7
  modules/account_stock_eu/CHANGELOG
  modules/account_stock_eu/COPYRIGHT
Due: documentation

Add tag account_stock_eu-7.0.7
  .hgtags
Due: none

Prepare release account_payment_sepa-8.0.1
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-8.0.1
  .hgtags
Due: none

Increase version number
  modules/account_payment_sepa/tryton.cfg
Due: documentation

Prepare release account_payment_sepa-7.8.3
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-7.8.3
  .hgtags
Due: none

Prepare release account_payment_sepa-7.0.8
  modules/account_payment_sepa/CHANGELOG
Due: documentation

Add tag account_payment_sepa-7.0.8
  .hgtags
Due: none

Use only 3 cols for plural field on lang form
  trytond/trytond/ir/view/lang_form.xml
Due: none

Process Shopify sale only if the authorized payment amount is greater than the amount to pay
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Bill duties and charges to the customs agent for UPS shipment charges
  modules/stock_package_shipping_ups/stock.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
