Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release web_shop_shopify-7.0.16
  modules/web_shop_shopify/CHANGELOG
Due: documentation

Add tag web_shop_shopify-7.0.16
  .hgtags
Due: none

Increase version number
  modules/web_shop_shopify/tryton.cfg
Due: documentation

Prepare release stock_package_shipping_ups-8.0.1
  modules/stock_package_shipping_ups/CHANGELOG
Due: documentation

Add tag stock_package_shipping_ups-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping_ups/tryton.cfg
Due: documentation

Prepare release stock_lot_sled-8.0.1
  modules/stock_lot_sled/CHANGELOG
Due: documentation

Add tag stock_lot_sled-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock_lot_sled/tryton.cfg
Due: documentation

Prepare release stock_lot_sled-7.8.2
  modules/stock_lot_sled/CHANGELOG
Due: documentation

Add tag stock_lot_sled-7.8.2
  .hgtags
Due: none

Prepare release stock_lot_sled-7.0.3
  modules/stock_lot_sled/CHANGELOG
Due: documentation

Add tag stock_lot_sled-7.0.3
  .hgtags
Due: none

Prepare release stock-8.0.3
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-8.0.3
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release stock-7.8.5
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-7.8.5
  .hgtags
Due: none

Prepare release sale_subscription-8.0.1
  modules/sale_subscription/CHANGELOG
Due: documentation

Add tag sale_subscription-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_subscription/tryton.cfg
Due: documentation

Prepare release sale_subscription-7.8.1
  modules/sale_subscription/CHANGELOG
  modules/sale_subscription/COPYRIGHT
Due: documentation

Add tag sale_subscription-7.8.1
  .hgtags
Due: none

Prepare release sale_rental-8.0.1
  modules/sale_rental/CHANGELOG
Due: documentation

Add tag sale_rental-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_rental/tryton.cfg
Due: documentation

Prepare release sale_rental-7.8.2
  modules/sale_rental/CHANGELOG
  modules/sale_rental/COPYRIGHT
Due: documentation

Add tag sale_rental-7.8.2
  .hgtags
Due: none

Prepare release sale_opportunity-8.0.1
  modules/sale_opportunity/CHANGELOG
Due: documentation

Add tag sale_opportunity-8.0.1
  .hgtags
Due: none

Increase version number
  modules/sale_opportunity/tryton.cfg
Due: documentation

Prepare release sale_opportunity-7.8.1
  modules/sale_opportunity/CHANGELOG
  modules/sale_opportunity/COPYRIGHT
Due: documentation

Add tag sale_opportunity-7.8.1
  .hgtags
Due: none

Prepare release sale_complaint-8.0.1
  modules/sale_complaint/CHANGELOG
Due: documentation
