Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Add tag 8.0.0
  .hgtags
Due: none

Rename naiad package into tryton-naiad
  naiad/pyproject.toml
Due: none

Fix computation of doc series for odd minor version
  doc/conf.py
Due: documentation, check-flake8, check-isort

Fix computation of doc series for odd minor version (grafted from b51529a6afd0794498d1790e88b4805af582eb81)
  doc/conf.py
Due: documentation, check-flake8, check-isort

Activate modules that are not activated in demo
  demo/__main__.py
Due: check-flake8, check-isort, test-demo

Submit payment before approve it in demo (grafted from 2265bacb7aff3db5ce17095d5fca98e77f52d3fc)
  demo/account_payment.py
Due: check-flake8, check-isort, test-demo

Submit payment before approve it in demo
  demo/account_payment.py
Due: check-flake8, check-isort, test-demo

Use version from setup-freeze when making tryton installer
  tryton/make-darwin-installer.sh
  tryton/make-win32-installer.sh
Due: none

Prevent setuptools Distribution to parse config files
  tryton/setup-freeze.py
Due: check-flake8, check-isort

Use python3 to make tryton installer (grafted from 75b61640df96960c9431522571ef3bfcac46c280)
  tryton/make-darwin-installer.sh
  tryton/make-win32-installer.sh
Due: none

Use python3 to make tryton installer
  tryton/make-darwin-installer.sh
  tryton/make-win32-installer.sh
Due: none

Check access only on entry points of chat channel
  trytond/trytond/ir/chat.py
Due: check-flake8, check-isort

Process exception of RPC calls for chat
  tryton/tryton/chat.py
Due: check-flake8, check-isort

Fetch limit records of ResourceAccessMixin models when they are available
  trytond/trytond/ir/resource.py
  trytond/trytond/tests/test_resource.py
Due: check-flake8, check-isort

Do not pass the channel name as parameter to LISTEN call in the queue
  trytond/trytond/ir/queue_.py
Due: check-flake8, check-isort

Make overflow visible for dropdown in table header of treeview
  sao/src/sao.less
Due: none

Remove fake gap from form containers on XS screen
  sao/src/sao.less
Due: none

User percent encoded name of inexistant database
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/tests/test_transaction.py
Due: check-flake8, check-isort

Do not include _timestamp, _datetime nor __id in searched columns
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Document the usage of active_test in the context for ModelSQL.search_domain
  trytond/doc/ref/models.rst
Due: documentation

Prepare release trytond-8.0.1
  trytond/CHANGELOG
Due: documentation

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
