Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Do not refund the non-movable lines to Shopify
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Remove the empty notebook pages caused by field access
  trytond/trytond/model/modelview.py
  trytond/trytond/tests/modelview.py
  trytond/trytond/tests/modelview.xml
  trytond/trytond/tests/test_modelview.py
Due: check-flake8, check-isort

Add a status URL to sales from web shop
  modules/web_shop/CHANGELOG
  modules/web_shop/sale.py
  modules/web_shop/view/sale_form.xml
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
Due: documentation, check-flake8, check-isort

Fix the XML id of the quality production inspection wizard
  modules/quality/production.py
Due: check-flake8, check-isort

Rename the XML ids of the quality production inspection wizard
  modules/quality/production.py
  modules/quality/production.xml
Due: check-flake8, check-isort

Update height of list-form when it is set on xxx2Many widget
  sao/src/view/form.js
Due: check-eslint

Prepare release trytond-7.6.6
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.6.6
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.4.16
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.4.16
  .hgtags
Due: none

Prepare release trytond-7.0.35
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.35
  .hgtags
Due: none

Prepare release trytond-6.0.66
  trytond/CHANGELOG
Due: documentation

Add tag trytond-6.0.66
  .hgtags
Due: none

Prepare release tryton-7.6.3
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.6.3
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release sao-7.6.6
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.6
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.4.16
  sao/CHANGELOG
Due: documentation

Add tag sao-7.4.16
  .hgtags
Due: none

Prepare release sao-7.0.35
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.35
  .hgtags
Due: none

Prepare release proteus-7.6.1
  proteus/CHANGELOG
Due: documentation

Add tag proteus-7.6.1
  .hgtags
Due: none

Increase version number
  proteus/proteus/__init__.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
