Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Prepare release stock-7.6.4
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-7.6.4
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release stock-7.4.7
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-7.4.7
  .hgtags
Due: none

Prepare release stock-7.0.16
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-7.0.16
  .hgtags
Due: none

Add tag quality-7.6.2
  .hgtags
Due: none

Prepare release quality-7.6.2
  modules/quality/CHANGELOG
Due: documentation

Increase version number
  modules/quality/tryton.cfg
Due: documentation

Prepare release quality-7.4.3
  modules/quality/CHANGELOG
Due: documentation

Add tag quality-7.4.3
  .hgtags
Due: none

Prepare release product_kit-7.6.2
  modules/product_kit/CHANGELOG
Due: documentation

Add tag product_kit-7.6.2
  .hgtags
Due: none

Increase version number
  modules/product_kit/tryton.cfg
Due: documentation

Prepare release product_kit-7.4.2
  modules/product_kit/CHANGELOG
  modules/product_kit/COPYRIGHT
Due: documentation

Add tag product_kit-7.4.2
  .hgtags
Due: none

Prepare release product_kit-7.0.6
  modules/product_kit/CHANGELOG
  modules/product_kit/COPYRIGHT
Due: documentation

Add tag product_kit-7.0.6
  .hgtags
Due: none

Prepare release account-7.6.4
  modules/account/CHANGELOG
Due: documentation, test-demo

Add tag account-7.6.4
  .hgtags
Due: none

Increase version number
  modules/account/tryton.cfg
Due: documentation, test-demo

Do not try to fulfill move not linked to a Shopify order line
  modules/web_shop_shopify/stock.py
Due: check-flake8, check-isort

Use && as the boolean operator instead of &
  sao/src/view/tree.js
Due: check-eslint

Use current total price when creating sale from Shopify order
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Update sale addresses also for guest party from Shopify order
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort
