Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Add phantom BOM
  modules/production/CHANGELOG
  modules/production/bom.py
  modules/production/message.xml
  modules/production/product.py
  modules/production/production.py
  modules/production/tests/scenario_production_phantom_bom.rst
  modules/production/view/bom_form.xml
  modules/production/view/bom_input_form.xml
  modules/production/view/bom_input_list.xml
  modules/production/view/bom_list.xml
  modules/production/view/bom_output_form.xml
  modules/production/view/bom_output_list.xml
Due: documentation, check-flake8, check-isort, test-demo

Use list price used to calculate the base price of sale discount
  modules/sale_discount/sale.py
Due: check-flake8, check-isort

Require phonenumbers for testing scenario
  modules/web_shop_shopify/setup.py
Due: check-flake8, check-isort

Add destination warehouse to internal shipment
  modules/stock/shipment.py
Due: check-flake8, check-isort, test-demo

Add domain to warehouse of internal shipment
  modules/stock/shipment.py
Due: check-flake8, check-isort, test-demo

Add warehouse to the list view of supplier return shipment
  modules/stock/view/shipment_in_return_tree.xml
Due: test-demo

Allow to use empty ModelList in Wizard
  proteus/proteus/__init__.py
Due: check-flake8, check-isort

Set default value of src_plural to NULL when setting translations
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort

Make the number of bank accounts required
  modules/bank/bank.py
Due: check-flake8, check-isort

Accept email without content as incoming document
  modules/document_incoming/document.py
  modules/document_incoming/tests/test_module.py
Due: check-flake8, check-isort

Use sandboxed iframe to display document
  sao/CHANGELOG
  sao/src/sao.less
  sao/src/view/form.js
Due: documentation, check-eslint

Compare the default fields used in copy with those of the calling class
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Use list price used to calculate unit list price on point of sale (grafted from ec77abb4539525bcfd5a9402d8848791d9a096ad)
  modules/sale_point/sale.py
Due: check-flake8, check-isort

Use list price used to calculate unit list price on point of sale
  modules/sale_point/sale.py
Due: check-flake8, check-isort

Allow a different gross price to be set for each variant
  modules/sale_point/CHANGELOG
  modules/sale_point/product.py
  modules/sale_point/sale.py
  modules/sale_point/tests/scenario_sale_point.rst
Due: documentation, check-flake8, check-isort

Use a MagicMock with a return value when patching ModelStorage copy for testing
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Use description used when exporting FEC file
  modules/account_fr/account.py
Due: check-flake8, check-isort

Prepare release sao-7.6.9
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.9
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.4.19
  sao/CHANGELOG
Due: documentation

Add tag sao-7.4.19
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
