Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Make sure that the search order is predictable when either the limit or the offset is set
  trytond/trytond/model/modelsql.py
  trytond/trytond/tests/test_modelsql.py
Due: check-flake8, check-isort

Use the canonical name of the test timezone
  trytond/trytond/tests/test_ir.py
Due: check-flake8, check-isort

Set sale attribute only if changed
  modules/web_shop_shopify/common.py
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Define weight as Shopify fields on product template
  modules/web_shop_shopify/product.py
Due: check-flake8, check-isort

Use the BoM output unit to request the quantity to produce
  modules/stock_supply_production/production.py
Due: check-flake8, check-isort

Add test scenario to request production with BoM
  modules/stock_supply_production/tests/scenario_stock_supply_production_bom.rst
Due: check-flake8, check-isort

Add routes to open Shopify objects
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/doc/usage.rst
  modules/web_shop_shopify/routes.py
Due: documentation, check-flake8, check-isort

Always decrease Shopify sale line by the refunded quantity
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Use gettext method instead of gettext module in import window
  tryton/tryton/gui/window/win_import.py
Due: check-flake8, check-isort

Move pricelist field before shipping date on sale form
  modules/sale_price_list/view/sale_form.xml
Due: none

Clear the Shopify tax adjustment before recalculating it
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Use the page position instead of the screen position to compute the column resizing
  sao/src/view/tree.js
Due: check-eslint

Update Shopify payment even if the captured amount is zero
  modules/web_shop_shopify/account.py
  modules/web_shop_shopify/tests/scenario_web_shop_shopify.rst
Due: check-flake8, check-isort

Use an alert for processing notification
  sao/src/common.js
  sao/src/sao.less
Due: check-eslint

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
