Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-7.2.10
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.2.10
  .hgtags
Due: none

Prepare release purchase-7.0.13
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.0.13
  .hgtags
Due: none

Prepare release production-7.4.2
  modules/production/CHANGELOG
  modules/production/COPYRIGHT
Due: documentation, test-demo

Add tag production-7.4.2
  .hgtags
Due: none

Increase version number
  modules/production/tryton.cfg
Due: documentation, test-demo

Prepare release production-7.2.4
  modules/production/CHANGELOG
  modules/production/COPYRIGHT
Due: documentation, test-demo

Add tag production-7.2.4
  .hgtags
Due: none

Prepare release production-7.0.4
  modules/production/CHANGELOG
  modules/production/COPYRIGHT
Due: documentation, test-demo

Add tag production-7.0.4
  .hgtags
Due: none

Prepare release account_move_line_grouping-7.4.2
  modules/account_move_line_grouping/CHANGELOG
Due: documentation

Add tag account_move_line_grouping-7.4.2
  .hgtags
Due: none

Increase version number
  modules/account_move_line_grouping/tryton.cfg
Due: documentation

Prepare release account_move_line_grouping-7.2.3
  modules/account_move_line_grouping/CHANGELOG
Due: documentation

Add tag account_move_line_grouping-7.2.3
  .hgtags
Due: none

Prepare release account_move_line_grouping-7.0.2
  modules/account_move_line_grouping/CHANGELOG
Due: documentation

Add tag account_move_line_grouping-7.0.2
  .hgtags
Due: none

Prepare release account_invoice-7.4.4
  modules/account_invoice/CHANGELOG
Due: documentation, test-demo

Add tag account_invoice-7.4.4
  .hgtags
Due: none

Increase version number
  modules/account_invoice/tryton.cfg
Due: documentation, test-demo

Prepare release account_invoice-7.2.9
  modules/account_invoice/CHANGELOG
Due: documentation, test-demo

Add tag account_invoice-7.2.9
  .hgtags
Due: none

Prepare release account_invoice-7.0.13
  modules/account_invoice/CHANGELOG
Due: documentation, test-demo

Add tag account_invoice-7.0.13
  .hgtags
Due: none

Use rfc role in documentation and ignore checking datatracker.ietf.org links
  modules/inbound_email/doc/linkcheck_ignore.json
  modules/inbound_email/doc/reference.rst
  modules/ldap_authentication/doc/linkcheck_ignore.json
  modules/web_shop_product_data_feed/doc/linkcheck_ignore.json
  trytond/doc/conf.py
  trytond/doc/linkcheck_ignore.json
  trytond/doc/ref/tools/email.rst
Due: documentation, check-flake8, check-isort

Delete tree width records when field is set multiple times
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort

Add tests for view tree width
  trytond/trytond/tests/test_ir.py
Due: check-flake8, check-isort

Fix placeholder in the French translation of the webserver error message
  modules/document_incoming_ocr_typless/locale/fr.po
Due: none

Do not fail to reload modified view without a current record
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
Due: check-flake8, check-isort, check-eslint
