Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add tag sale-7.0.19
  .hgtags
Due: none

Increase version number
  modules/sale/tryton.cfg
Due: documentation, test-demo

Prepare release purchase_blanket_agreement-8.0.2
  modules/purchase_blanket_agreement/CHANGELOG
Due: documentation

Add tag purchase_blanket_agreement-8.0.2
  .hgtags
Due: none

Increase version number
  modules/purchase_blanket_agreement/tryton.cfg
Due: documentation

Prepare release purchase_blanket_agreement-7.8.2
  modules/purchase_blanket_agreement/CHANGELOG
Due: documentation

Add tag purchase_blanket_agreement-7.8.2
  .hgtags
Due: none

Prepare release purchase_blanket_agreement-7.0.5
  modules/purchase_blanket_agreement/CHANGELOG
  modules/purchase_blanket_agreement/COPYRIGHT
Due: documentation

Add tag purchase_blanket_agreement-7.0.5
  .hgtags
Due: none

Prepare release purchase-8.0.2
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-8.0.2
  .hgtags
Due: none

Increase version number
  modules/purchase/tryton.cfg
Due: documentation, test-demo

Prepare release purchase-7.8.3
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.8.3
  .hgtags
Due: none

Prepare release purchase-7.0.18
  modules/purchase/CHANGELOG
Due: documentation, test-demo

Add tag purchase-7.0.18
  .hgtags
Due: none

Prepare release product_kit-8.0.3
  modules/product_kit/CHANGELOG
Due: documentation

Add tag product_kit-8.0.3
  .hgtags
Due: none

Increase version number
  modules/product_kit/tryton.cfg
Due: documentation

Prepare release product_kit-7.8.3
  modules/product_kit/CHANGELOG
Due: documentation

Add tag product_kit-7.8.3
  .hgtags
Due: none

Prepare release product_kit-7.0.10
  modules/product_kit/CHANGELOG
Due: documentation

Add tag product_kit-7.0.10
  .hgtags
Due: none

Prepare release product-8.0.2
  modules/product/CHANGELOG
Due: documentation, test-demo

Add tag product-8.0.2
  .hgtags
Due: none

Increase version number
  modules/product/tryton.cfg
Due: documentation, test-demo

Prepare release product-7.8.4
  modules/product/CHANGELOG
Due: documentation, test-demo

Add tag product-7.8.4
  .hgtags
Due: none

Prepare release product-7.0.6
  modules/product/CHANGELOG
Due: documentation, test-demo

Add tag product-7.0.6
  .hgtags
Due: none

Prepare release edocument_uncefact-8.0.3
  modules/edocument_uncefact/CHANGELOG
Due: documentation

Add tag edocument_uncefact-8.0.3
  .hgtags
Due: none
