Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Set web shop currency and methods on sale after calling on_change's
  modules/web_shop/web.py
Due: check-flake8, check-isort

Call super for on_change of supplier and customer for Intrastat on shipments
  modules/account_stock_eu/stock.py
Due: check-flake8, check-isort

Use constant-time to compare session key
  trytond/trytond/ir/session.py
Due: check-flake8, check-isort

Do not create demo user for every language
  demo/__main__.py
Due: check-flake8, check-isort, test-demo

Clear the lot when the stock move product changes
  modules/stock_lot/stock.py
Due: check-flake8, check-isort

Allow unsplitting moves
  modules/stock_split/CHANGELOG
  modules/stock_split/doc/design.rst
  modules/stock_split/stock.py
  modules/stock_split/stock.xml
  modules/stock_split/tests/test_module.py
  modules/stock_split/view/move_tree.xml
Due: documentation, check-flake8, check-isort

Use the default digit values to calculate the width for float widget
  sao/src/view/form.js
  tryton/tryton/gui/window/view_form/view/form_gtk/float.py
Due: check-flake8, check-isort, check-eslint

Include the period in the nested part when searching the invoice party of lines
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Use a list of values when updating quality operations from done to do
  modules/quality/quality.py
Due: check-flake8, check-isort

Set compare-at price on Shopify using non-sale price
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/product.py
  modules/web_shop_shopify/web.py
Due: documentation, check-flake8, check-isort

Unpack tables move when ordering by payable_receivable_date
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Allow searching for sales by web shop and ID
  modules/web_shop/sale.xml
  modules/web_shop/view/sale_list.xml
Due: none

Add button to update the sales from their web shop
  modules/web_shop/CHANGELOG
  modules/web_shop/sale.py
  modules/web_shop/sale.xml
  modules/web_shop/view/sale_form.xml
  modules/web_shop/web.py
  modules/web_shop_shopify/web.py
Due: documentation, check-flake8, check-isort

Add admin URL to Shopify identifiers
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/common.py
  modules/web_shop_shopify/message.xml
  modules/web_shop_shopify/party.xml
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/sale.xml
  modules/web_shop_shopify/tryton.cfg
  modules/web_shop_shopify/view/party_form.xml
  modules/web_shop_shopify/view/product_template_form.xml
  modules/web_shop_shopify/view/sale_form.xml
  modules/web_shop_shopify/view/shop_shopify_identifier_form.xml
  modules/web_shop_shopify/view/shop_shopify_identifier_list.xml
  modules/web_shop_shopify/web.py
Due: documentation, check-flake8, check-isort

Add support for refunding payments on sales
  modules/sale_payment/CHANGELOG
  modules/sale_payment/sale.py
Due: documentation, check-flake8, check-isort

Add support for credit refunds with Shopify
  modules/web_shop_shopify/CHANGELOG
  modules/web_shop_shopify/account.py
Due: documentation, check-flake8, check-isort

Create draft sale with guest party for Shopify order without customer and update it later
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Do not use the order object from Shopify webhook update
  modules/web_shop/web.py
  modules/web_shop_shopify/routes.py
Due: check-flake8, check-isort

Manage Shopify webhook for orders edited and cancelled topic
  modules/web_shop_shopify/routes.py
Due: check-flake8, check-isort

Fix name of Shopify webhook topic for payment
  modules/web_shop_shopify/routes.py
Due: check-flake8, check-isort

Make sure that the search order is predictable when either the limit or the offset is set
  trytond/trytond/model/modelsql.py
  trytond/trytond/tests/test_modelsql.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
