Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Convert request headers to dict and body as text to verify Shopify webhook
  modules/web_shop_shopify/routes.py
Due: check-flake8, check-isort

Get Shopify order ID from the order_edit key for orders/edited topic
  modules/web_shop_shopify/routes.py
Due: check-flake8, check-isort

Hide unstructured street of address when building name is filled
  modules/party/address.py
Due: check-flake8, check-isort, test-demo

Validate current record before switching to next/previous record in window form
  sao/src/window.js
  tryton/tryton/gui/window/win_form.py
Due: check-flake8, check-isort, check-eslint

Add logging info about Shopify request
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Pass query as a list of argument to format_args for Shopify query logging (grafted from 42067e83b4f7b206c40af88b0e1bb41f573f0407)
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Pass query as a list of argument to format_args for Shopify query logging
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Set Shopify warehouse on sale line only if it has changed
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Call on_change_party without assignment in SEPA mandate migration
  doc/migration.rst
Due: documentation

Add missing transaction commit to SEPA mandate migration
  doc/migration.rst
Due: documentation

Edit selected One2Many rows at once
  sao/CHANGELOG
  sao/src/view/form.js
  sao/src/window.js
  tryton/CHANGELOG
  tryton/tryton/gui/window/view_form/view/form_gtk/one2many.py
  tryton/tryton/gui/window/win_form.py
Due: documentation, check-flake8, check-isort, check-eslint

Add rpc suffix when retrying JSONRPC request
  tryton/tryton/jsonrpc.py
Due: check-flake8, check-isort

Do not try to update status of Peppyrus document without transmission ID
  modules/edocument_peppol_peppyrus/edocument.py
Due: check-flake8, check-isort

Raise PeppolServiceError when missing sender or recipient for Peppyrus submission
  modules/edocument_peppol_peppyrus/edocument.py
Due: check-flake8, check-isort

Escape metacharacters from thousand separator before using it in replace
  sao/src/common.js
Due: check-eslint

Update hostname of Romanian National Bank URL
  modules/currency_ro/currency.py
Due: check-flake8, check-isort

Reset TABLES_CREATED when dropping the database when testing
  trytond/trytond/model/modelsql.py
  trytond/trytond/tests/__init__.py
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort
