Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Fix module name for migration of account value in payment
  doc/migration.rst
Due: documentation

Update documentation about handling exception
  modules/purchase/doc/usage/process.inc.rst
  modules/purchase/doc/usage/returns.inc.rst
  modules/sale/doc/usage/process.inc.rst
  modules/sale/doc/usage/returns.inc.rst
Due: documentation, test-demo

Do not check for missing parent depends when the One2Many is readonly
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Scroll element in to view using center and for all the scrollable ancestors
  sao/src/common.js
Due: check-eslint

Add support for basic authentication for user application
  trytond/CHANGELOG
  trytond/doc/topics/user_application.rst
  trytond/trytond/protocols/wrappers.py
  trytond/trytond/tests/test_protocols.py
Due: documentation, check-flake8, check-isort

Add environment variable to enable development mode
  trytond/doc/topics/start_server.rst
  trytond/trytond/commandline.py
  trytond/trytond/wsgi.py
Due: documentation, check-flake8, check-isort

Unpack table and clause when converting domain for payable/receivable date
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Use BIGINT for invoice number digit and limit size to 18 digits
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Prevent using phantom BOM on production
  modules/production/production.py
Due: check-flake8, check-isort, test-demo

Prevent registering unit of measure with the UNECE code ZZ and XZZ
  modules/edocument_unece/product.py
Due: check-flake8, check-isort

Do not search unit of measure for unit code ZZ and XZZ from UBL
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Use ZZ as default unit code for UBL (grafted from 494190e98054dfb01777473e19e0b1222f859c4d)
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Use ZZ as default unit code for UBL
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Add an web shop URL to sales
  modules/web_shop/CHANGELOG
  modules/web_shop/sale.py
  modules/web_shop/view/sale_form.xml
  modules/web_shop/view/sale_list.xml
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/sale.xml
  modules/web_shop_shopify/tryton.cfg
  modules/web_shop_shopify/view/sale_form.xml
Due: documentation, check-flake8, check-isort

Prevent setting a phantom BoM on the BOM input and output with a product already set
  modules/production/bom.py
Due: check-flake8, check-isort, test-demo

Allow the UserError and UserWarning exceptions to be raised when testing the buttons
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Do not include removed records in the search domain of One2Many
  sao/src/model.js
  sao/src/view/form.js
  tryton/tryton/gui/window/view_form/model/field.py
  tryton/tryton/gui/window/view_form/view/form_gtk/one2many.py
Due: check-flake8, check-isort, check-eslint

Fail when getting view arch on test
  trytond/trytond/ir/ui/view.py
Due: check-flake8, check-isort

Do not group taxes by tax group in UBL invoice and credit note
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort
