Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Reset TABLES_CREATED when dropping the database when testing
  trytond/trytond/model/modelsql.py
  trytond/trytond/tests/__init__.py
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Test findtext result as boolean when parsing UBL invoice
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Add space between payees in UBL error message
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Set format attribute for DateTimeString in UN/CEFACT 16B-CII
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: none

Set PostOfficeBox when address has a post box in UN/CEFACT 16B-CII
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: none

Manage the sign on LineTotalAmount instead of BilledQuantity in UN/CEFACT 16B-CII
  modules/edocument_uncefact/template/16B-CII/CrossIndustryInvoice.xml
Due: none

Register cache instance after being fully initialized
  trytond/trytond/cache.py
Due: check-flake8, check-isort

Do not rely on shipments order from sale in test scenario
  modules/web_shop_shopify/tests/scenario_web_shop_shopify_product_kit.rst
Due: check-flake8, check-isort

Use BIGINT for table query with composed unique ID
  modules/sale/sale_reporting.py
  modules/stock/stock_reporting_margin.py
Due: check-flake8, check-isort, test-demo

Add record changed callback
  sao/src/screen.js
  sao/src/tab.js
  tryton/tryton/gui/window/form.py
  tryton/tryton/gui/window/view_form/screen/screen.py
Due: check-flake8, check-isort, check-eslint

Call on_change_product only if the sale line has been changed
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Raise last retry exception from JSON-RPC request
  tryton/tryton/jsonrpc.py
Due: check-flake8, check-isort

Remove unreachable GATEWAY TIMEOUT in JSON-RPC retry
  tryton/tryton/jsonrpc.py
Due: check-flake8, check-isort

Prepare release trytond-8.0.9
  trytond/CHANGELOG
Due: documentation

Add tag trytond-8.0.9
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort
