Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Use only foreign Many2One for domain on field for field access
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Catch error from clipboard.writeText
  sao/src/view/tree.js
Due: check-eslint

Define the file types that image input accepts
  sao/src/view/form.js
Due: check-eslint

Convert UnidentifiedImageError from PIL into validation error
  modules/company/company.py
  modules/company/exceptions.py
  modules/company/message.xml
  modules/product_image/exceptions.py
  modules/product_image/message.xml
  modules/product_image/product.py
  trytond/trytond/ir/avatar.py
  trytond/trytond/ir/exceptions.py
  trytond/trytond/ir/message.xml
Due: check-flake8, check-isort, test-demo

Convert tuple from XML ID into string before join them
  trytond/trytond/convert.py
Due: check-flake8, check-isort

Add support for disassembly production
  modules/production/CHANGELOG
  modules/production/bom.py
  modules/production/production.py
  modules/production/tests/test_module.py
  modules/production/view/production_form.xml
  modules/production/view/production_list.xml
Due: documentation, check-flake8, check-isort, test-demo

Add effective dates, company and warehouse on header of production form
  modules/production/view/production_form.xml
Due: test-demo

Do not check access when register button click
  trytond/trytond/ir/model.py
Due: check-flake8, check-isort

Do not set Content-Length header to data response
  trytond/trytond/ir/routes.py
Due: check-flake8, check-isort

Replace checkout wizard by values returned by button_action
  modules/account_payment_braintree/__init__.py
  modules/account_payment_braintree/account.py
  modules/account_payment_braintree/account.xml
  modules/account_payment_stripe/__init__.py
  modules/account_payment_stripe/payment.py
  modules/account_payment_stripe/payment.xml
Due: check-flake8, check-isort

Fix highlight syntax of board documentation
  trytond/doc/topics/views/index.rst
Due: documentation

Fix highlight syntax of board documentation (grafted from c35b5833797f7d6342c469fdc5c99b291b98c4ac)
  trytond/doc/topics/views/index.rst
Due: documentation

Limit the depth for finding modules in module directory (grafted from d46751a4d09a6ba6507369eca4fd208b01fb2551)
  .gitlab-scripts/check-template-modules.sh
Due: none

Limit the depth for finding modules in module directory
  .gitlab-scripts/check-template-modules.sh
Due: none

Remove unecessary semicolon in tab modified_save
  sao/src/tab.js
Due: check-eslint

Do not restore values for created records when exception is raised when saving
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort
