Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Call the same super method for validate_fields of account move line
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Avoid random payment amount of zero in braintree tests
  modules/account_payment_braintree/tests/scenario_account_payment_braintree.rst
Due: check-flake8, check-isort

Search for the record name of the contact mechanism using the 'name' field
  modules/party/contact_mechanism.py
Due: check-flake8, check-isort, test-demo

Do not convert select query value into list when searching on char with in operator
  trytond/trytond/model/fields/char.py
  trytond/trytond/tests/test_field_char.py
Due: check-flake8, check-isort

Log unexpected Exception using exception level
  trytond/trytond/wsgi.py
Due: check-flake8, check-isort

Write traceback of unexpected Exception in wsgi.errors
  trytond/trytond/wsgi.py
Due: check-flake8, check-isort

Let the WSGI dispatcher handling exception raised within with_pool decorator
  trytond/trytond/protocols/wrappers.py
Due: check-flake8, check-isort

Convert exception value into string when used as HTTPException description
  trytond/trytond/protocols/jsonrpc.py
  trytond/trytond/wsgi.py
Due: check-flake8, check-isort

Use package name as target for module with prefix
  cookiecutter-module/{{ cookiecutter.module_name }}/pyproject.toml
Due: check-cookiecutter-module

Update module tutorial to match with the cookiecutter output
  trytond/doc/tutorial/module/setup.rst
Due: documentation

Update module tutorial to match with the cookiecutter output (grafted from e33b58f3d6a1bd6445853b88c2d26ff5e8a61c9c)
  trytond/doc/tutorial/module/setup.rst
Due: documentation

Prepare release trytond-8.0.5
  trytond/CHANGELOG
Due: documentation

Add tag trytond-8.0.5
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.8.11
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.8.11
  .hgtags
Due: none

Prepare release trytond-7.0.52
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.52
  .hgtags
Due: none

Prepare release tryton-8.0.5
  tryton/CHANGELOG
Due: documentation

Add tag tryton-8.0.5
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.8.10
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.8.10
  .hgtags
Due: none

Prepare release tryton-7.0.40
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.0.40
  .hgtags
Due: none

Prepare release sao-8.0.5
  sao/CHANGELOG
Due: documentation

Add tag sao-8.0.5
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
