Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.6.18
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-7.6.18
  .hgtags
Due: none

Prepare release trytond-7.0.47
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-7.0.47
  .hgtags
Due: none

Prepare release trytond-6.0.75
  trytond/CHANGELOG
  trytond/COPYRIGHT
Due: documentation

Add tag trytond-6.0.75
  .hgtags
Due: none

Prepare release tryton-7.8.5
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.8.5
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.6.11
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.6.11
  .hgtags
Due: none

Prepare release tryton-7.0.35
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.0.35
  .hgtags
Due: none

Prepare release tryton-6.0.61
  tryton/CHANGELOG
Due: documentation

Add tag tryton-6.0.61
  .hgtags
Due: none

Prepare release sao-7.8.7
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.7
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.6.18
  sao/CHANGELOG
Due: documentation

Add tag sao-7.6.18
  .hgtags
Due: none

Prepare release sao-7.0.47
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.47
  .hgtags
Due: none

Prepare release sao-6.0.75
  sao/CHANGELOG
Due: documentation

Add tag sao-6.0.75
  .hgtags
Due: none

Increase version number
  sao/package.json
Due: none

Prepare release stock_package_shipping_sendcloud-7.8.1
  modules/stock_package_shipping_sendcloud/CHANGELOG
  modules/stock_package_shipping_sendcloud/COPYRIGHT
Due: documentation

Add tag stock_package_shipping_sendcloud-7.8.1
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping_sendcloud/tryton.cfg
Due: documentation

Prepare release stock-7.8.1
  modules/stock/CHANGELOG
  modules/stock/COPYRIGHT
Due: documentation, test-demo

Add tag stock-7.8.1
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo
