Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Use class access model when testing for parent access (grafted from f2734a16eb1d28f654ffc3ae6cd45b9d2af8726e)
  trytond/trytond/tests/test_access.py
Due: check-flake8, check-isort

Use class access model when testing for parent access
  trytond/trytond/tests/test_access.py
Due: check-flake8, check-isort

Find new key names using the definition from the dict widget's field
  sao/src/view/form.js
Due: check-eslint

Remove thousand separator when converting domain string to float
  sao/src/common.js
Due: check-eslint

Set email content with maintype when needed and correctly set Content-Language header
  trytond/setup.py
  trytond/trytond/report/report.py
  trytond/trytond/tests/test_report.py
Due: check-flake8, check-isort

Document preferred languages order for get_email
  trytond/doc/ref/report.rst
Due: documentation

Add closed constraint on default receivable/payable account of configuration storage
  modules/account/configuration.py
Due: check-flake8, check-isort, test-demo

Add id as matching key for product image URL
  modules/product_image/product.py
Due: check-flake8, check-isort

Remove useless variable quantity in explode_bom method
  modules/production/production.py
Due: check-flake8, check-isort, test-demo

Invert boolean operator when searching description with negative operator
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Use first description of statement lines as description of move line without origin
  modules/account_statement/account.py
  modules/account_statement/tests/scenario_account_statement.rst
Due: check-flake8, check-isort, test-demo

Support shortcuts on modal
  sao/CHANGELOG
  sao/src/sao.js
  sao/src/window.js
Due: documentation, check-eslint

Do not execute tab shortcuts if there is a modal open
  sao/src/sao.js
Due: check-eslint

Change the border color of checkbox and radio when focus
  sao/src/theme.less
Due: none

Unselect other rows when radio button of row is selected
  sao/src/view/tree.js
Due: check-eslint

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
