Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Add Russian Primary State Registration Number identifier
  modules/party/CHANGELOG
  modules/party/party.py
Due: documentation, check-flake8, check-isort, test-demo

Use th_moa as tax identifier instead of th_tin
  modules/party/party.py
Due: check-flake8, check-isort, test-demo

Add Mozambique Tax Number identifier
  modules/party/CHANGELOG
  modules/party/party.py
Due: documentation, check-flake8, check-isort, test-demo

Add French Trade Registration Number identifier
  modules/party/CHANGELOG
  modules/party/party.py
Due: documentation, check-flake8, check-isort, test-demo

Add Azerbaijan Tax Number identifier
  modules/party/CHANGELOG
  modules/party/party.py
Due: documentation, check-flake8, check-isort, test-demo

Add Senegal Tax Number identifier
  modules/party/CHANGELOG
  modules/party/party.py
Due: documentation, check-flake8, check-isort, test-demo

Fix documentation label for strict sequence
  trytond/doc/modules/ir/design/sequence.inc.rst
Due: documentation

Update API of ogm_vcs fallback to be the same as the release 2.2 of python-stdnum
  modules/account_be/account.py
  modules/account_be/ogm_vcs.py
Due: check-flake8, check-isort

Ensure to always surround USING expression with parenthesis in CREATE INDEX
  trytond/trytond/backend/postgresql/table.py
Due: check-flake8, check-isort

Replace UNPROCESSABLE_CONTENT status by UNPROCESSABLE_ENTITY
  modules/edocument_peppol_peppyrus/edocument.py
Due: check-flake8, check-isort

Add options to trytond.config
  trytond/doc/ref/config.rst
  trytond/trytond/config.py
Due: documentation, check-flake8, check-isort

Set DESC as index options instead of the expression (grafted from 23446beaa98ae648af5e44d47e3f360782765204)
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Set DESC as index options instead of the expression
  trytond/trytond/model/modelsql.py
Due: check-flake8, check-isort

Use root prefix to retrieve the namespace of UBL document
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Use only a limited set of tags for PEPPOL Address
  modules/edocument_ubl/template/2/base.xml
  modules/edocument_ubl/tests/test_module.py
Due: check-flake8, check-isort

Add missing purchase reporting views from 49a612454113
  modules/purchase/view/purchase_reporting_product_graph_expense.xml
  modules/purchase/view/purchase_reporting_product_graph_number.xml
  modules/purchase/view/purchase_reporting_supplier_graph_expense.xml
  modules/purchase/view/purchase_reporting_supplier_graph_number.xml
Due: test-demo

Use dash instead of hyphen in Egyptian street format
  modules/party/address.xml
Due: test-demo

Add an "Update Status" button to the Peppol document
  modules/edocument_peppol/CHANGELOG
  modules/edocument_peppol/edocument.py
  modules/edocument_peppol/edocument.xml
  modules/edocument_peppol/view/edocument_peppol_form.xml
  modules/edocument_peppol_peppyrus/tests/scenario_edocument_peppol_peppyrus.rst
Due: documentation, check-flake8, check-isort

Add company clause to balance domain for direct debit reception
  modules/account_payment/party.py
Due: check-flake8, check-isort, test-demo

Lock the sale being processed for Shopify
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Do not convert input when converting between the same unit
  modules/product/tests/test_module.py
  modules/product/uom.py
Due: check-flake8, check-isort, test-demo

Do not convert input when converting between the same unit
  modules/product/tests/test_product.py
  modules/product/uom.py
Due: check-flake8, check-isort, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
