Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Store delete rule of column per constraint
  trytond/trytond/backend/postgresql/table.py
Due: check-flake8, check-isort

Check if the user argument is a string on login and reset password
  trytond/trytond/protocols/dispatcher.py
Due: check-flake8, check-isort

Enforce the type of login parameters
  modules/authentication_sms/res.py
  modules/ldap_authentication/res.py
  trytond/trytond/res/user.py
Due: check-flake8, check-isort

Bind graph using the DOM element instead of id
  sao/src/view/graph.js
Due: check-eslint

Calculate variation and check tolerance on inventory quantity and cost
  modules/stock/CHANGELOG
  modules/stock/configuration.py
  modules/stock/exceptions.py
  modules/stock/inventory.py
  modules/stock/message.xml
  modules/stock/tests/scenario_stock_inventory_tolerance.rst
  modules/stock/tryton.cfg
  modules/stock/view/configuration_form.xml
  modules/stock/view/inventory_line_form.xml
  modules/stock/view/inventory_line_list.xml
Due: documentation, check-flake8, check-isort, test-demo

Check the existence of a getter before adding it to a field depends
  trytond/trytond/model/modelview.py
  trytond/trytond/tests/test_field_depends.py
Due: check-flake8, check-isort

Fix the "prefixes" key name in the cookiecutter template
  cookiecutter-module/{{ cookiecutter.module_name }}/pyproject.toml
Due: check-cookiecutter-module

Apply 1 suggestion(s) to 1 file(s)
  trytond/trytond/tests/test_field_depends.py
Due: check-flake8, check-isort

Prevent form content from pushing chat sidebar outside viewport
  sao/src/sao.less
Due: none

Add missing _method to url for webhooks
  modules/account_payment_braintree/account.py
  modules/account_payment_stripe/payment.py
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Use a sentinel as default value for setting attribute only if changed
  modules/web_shop_shopify/common.py
Due: check-flake8, check-isort

Use router url_for to set return url of Stripe checkout
  modules/account_payment_stripe/routes.py
Due: check-flake8, check-isort

Restrict direct debit reception to receivable accounts
  modules/account_payment/account.py
  modules/account_payment_sepa/account.xml
Due: check-flake8, check-isort, test-demo

Display the screen after button confirmation has been rejected
  sao/src/screen.js
Due: check-eslint

Generate a valid domain for the origin invoices via the searcher on the invoice
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Do not add searcher to the template function fields if the template field is not searchable
  modules/product/product.py
Due: check-flake8, check-isort, test-demo

Do not set searcher on ethanol volume of products by locations
  modules/stock_ethanol/stock.py
Due: check-flake8, check-isort

Test domain from searcher by using it in search call
  trytond/trytond/tests/test_tryton.py
Due: check-flake8, check-isort

Wait until a message is received when testing subscription of bus
  trytond/trytond/tests/test_bus.py
Due: check-flake8, check-isort

Add companies and employees to the user context
  modules/company/CHANGELOG
  modules/company/res.py
Due: documentation, check-flake8, check-isort, test-demo
