Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Fill DueDate in UBL Invoice and CreditNote
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Do not set country subentity code in Peppol UBL
  modules/edocument_ubl/template/2/base.xml
Due: none

Do not set payment terms due date in Peppol UBL
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Do not set percentage in tax subtotal in Peppol UBL
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Do not set country name in Peppol UBL
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_ubl/template/2/base.xml
Due: none

Do not set payment terms amount in Peppol UBL
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
Due: none

Fix typo when calling succeed on processed Peppol invoice
  modules/edocument_peppol/edocument.py
Due: check-flake8, check-isort

Save the link to the created invoice when processing Peppol invoice
  modules/edocument_peppol/edocument.py
Due: check-flake8, check-isort

Set only one customer identification in UBL Invoice and CreditNote
  modules/edocument_ubl/template/2/CreditNote.xml
  modules/edocument_ubl/template/2/Invoice.xml
  modules/edocument_ubl/template/2/base.xml
Due: none

Pass XML-RPC string to GzipStream instead of bytes
  trytond/trytond/protocols/xmlrpc.py
Due: check-flake8, check-isort

Prepare release edocument_peppol-7.8.2
  modules/edocument_peppol/CHANGELOG
Due: documentation

Add tag edocument_peppol-7.8.2
  .hgtags
Due: none

Increase version number
  modules/edocument_peppol/tryton.cfg
Due: documentation

Prepare release edocument_ubl-7.8.2
  modules/edocument_ubl/CHANGELOG
Due: documentation

Add tag edocument_ubl-7.8.2
  .hgtags
Due: none

Increase version number
  modules/edocument_ubl/tryton.cfg
Due: documentation

Save wizard session states in new transaction for readonly wizard
  trytond/trytond/wizard/wizard.py
Due: check-flake8, check-isort

Log event using the transaction of the records
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Add support for Peppyrus webhooks
  modules/edocument_peppol_peppyrus/CHANGELOG
  modules/edocument_peppol_peppyrus/__init__.py
  modules/edocument_peppol_peppyrus/doc/configuration.rst
  modules/edocument_peppol_peppyrus/doc/index.rst
  modules/edocument_peppol_peppyrus/doc/reference.rst
  modules/edocument_peppol_peppyrus/edocument.py
  modules/edocument_peppol_peppyrus/edocument.xml
  modules/edocument_peppol_peppyrus/routes.py
  modules/edocument_peppol_peppyrus/tests/scenario_edocument_peppol_peppyrus.rst
  modules/edocument_peppol_peppyrus/view/edocument_peppol_service_form.xml
Due: documentation, check-flake8, check-isort

Define request body when there is no signing secret defined
  modules/account_payment_stripe/routes.py
Due: check-flake8, check-isort
