Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*

Add tag tryton-7.8.9
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.0.39
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.0.39
  .hgtags
Due: none

Prepare release sao-8.0.4
  sao/CHANGELOG
Due: documentation

Add tag sao-8.0.4
  .hgtags
Due: none

Increase version number
  sao/package.json
  sao/src/sao.js
Due: check-eslint

Prepare release sao-7.8.11
  sao/CHANGELOG
Due: documentation

Add tag sao-7.8.11
  .hgtags
Due: none

Prepare release sao-7.0.51
  sao/CHANGELOG
Due: documentation

Add tag sao-7.0.51
  .hgtags
Due: none

Prepare release stock_supply_day-8.0.1
  modules/stock_supply_day/CHANGELOG
Due: documentation

Add tag stock_supply_day-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock_supply_day/tryton.cfg
Due: documentation

Prepare release stock_supply_day-7.8.2
  modules/stock_supply_day/CHANGELOG
Due: documentation

Add tag stock_supply_day-7.8.2
  .hgtags
Due: none

Prepare release stock_supply_day-7.0.2
  modules/stock_supply_day/CHANGELOG
Due: documentation

Add tag stock_supply_day-7.0.2
  .hgtags
Due: none

Prepare release stock_package_shipping-8.0.1
  modules/stock_package_shipping/CHANGELOG
Due: documentation

Add tag stock_package_shipping-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock_package_shipping/tryton.cfg
Due: documentation

Prepare release stock_package_shipping-7.8.2
  modules/stock_package_shipping/CHANGELOG
  modules/stock_package_shipping/COPYRIGHT
Due: documentation

Add tag stock_package_shipping-7.8.2
  .hgtags
Due: none

Prepare release stock_package_shipping-7.0.3
  modules/stock_package_shipping/CHANGELOG
Due: documentation

Add tag stock_package_shipping-7.0.3
  .hgtags
Due: none

Prepare release stock-8.0.1
  modules/stock/CHANGELOG
Due: documentation, test-demo

Add tag stock-8.0.1
  .hgtags
Due: none

Increase version number
  modules/stock/tryton.cfg
Due: documentation, test-demo

Prepare release purchase_request_quotation-8.0.1
  modules/purchase_request_quotation/CHANGELOG
Due: documentation

Add tag purchase_request_quotation-8.0.1
  .hgtags
Due: none

Increase version number
  modules/purchase_request_quotation/tryton.cfg
Due: documentation

Prepare release purchase_request_quotation-7.8.2
  modules/purchase_request_quotation/CHANGELOG
Due: documentation

Add tag purchase_request_quotation-7.8.2
  .hgtags
Due: none
