Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Permit the selection of companies for which to create dunnings
  modules/account_dunning/CHANGELOG
  modules/account_dunning/dunning.py
  modules/account_dunning/view/dunning_create_start_form.xml
Due: documentation, check-flake8, check-isort

Permit the selection of companies for which to create direct debits
  modules/account_payment/CHANGELOG
  modules/account_payment/account.py
  modules/account_payment/view/move_line_create_direct_debit_form.xml
Due: documentation, check-flake8, check-isort, test-demo

Permit the selection of companies for which to create invoices and consumptions for subscriptions
  modules/sale_subscription/CHANGELOG
  modules/sale_subscription/subscription.py
  modules/sale_subscription/view/create_invoice_start_form.xml
  modules/sale_subscription/view/line_consumption_create_start_form.xml
Due: documentation, check-flake8, check-isort

Set button decorator for sending and updating invoices on Chorus to a different method than the cron
  modules/account_fr_chorus/account.py
  modules/account_fr_chorus/tests/scenario_account_fr_chorus_invoice.rst
Due: check-flake8, check-isort

Do not clear incoming moves that has been added to a shipment for amendment
  modules/purchase_amendment/purchase.py
Due: check-flake8, check-isort

Test if the line's origin is an instance of ModelStorage before accessing the record name
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Require a message file for SEPA message
  modules/account_payment_sepa/payment.py
Due: check-flake8, check-isort

Add routes for sao custom in base route
  trytond/CHANGELOG
  trytond/trytond/ir/routes.py
Due: documentation, check-flake8, check-isort

Save imported translations only if they are modified
  trytond/trytond/ir/translation.py
Due: check-flake8, check-isort

Display the journal-periods of a period on its form
  modules/account/journal.py
  modules/account/period.py
  modules/account/view/period_form.xml
Due: check-flake8, check-isort, test-demo

Update the UPS API version
  modules/stock_package_shipping_ups/carrier.py
Due: check-flake8, check-isort

Use decorator before ModelView.button to set default records for cron task
  modules/account_fr_chorus/account.py
Due: check-flake8, check-isort

Use decorator before ModelView.button to set default records for cron task
  modules/account_fr_chorus/account.py
  modules/edocument_peppol/edocument.py
Due: check-flake8, check-isort

Add timeout for requests to Peppyrus API
  modules/edocument_peppol_peppyrus/doc/configuration.rst
  modules/edocument_peppol_peppyrus/edocument.py
Due: documentation, check-flake8, check-isort

Add sleep between two update status call in test scenario
  modules/edocument_peppol_peppyrus/tests/scenario_edocument_peppol_peppyrus.rst
Due: check-flake8, check-isort

Execute the lock_id when computing the running values of cron
  trytond/trytond/ir/cron.py
Due: check-flake8, check-isort

Copy the field used for Function field
  trytond/trytond/model/fields/function.py
Due: check-flake8, check-isort

Remove unnecessary assert on _defaults
  trytond/trytond/model/model.py
Due: check-flake8, check-isort

Check for running deferrals when closing a standard period only
  modules/account_invoice_defer/account.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
