Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Set the utc flag on Sao.Date
  sao/src/pyson.js
Due: check-eslint

Clear the value of input select once data has been read
  sao/src/view/form.js
Due: check-eslint

Remove required on resource ID of ir.translation
  trytond/trytond/ir/translation.py
  trytond/trytond/model/fields/field.py
  trytond/trytond/tests/test_model.py
  trytond/trytond/tests/test_modelsql.py
Due: check-flake8, check-isort

Protect writing configuration of tryton with a thread lock
  tryton/tryton/config.py
Due: check-flake8, check-isort

Set button decorator of update Peppol status to a different method than the cron
  modules/edocument_peppol/edocument.py
Due: check-flake8, check-isort

Normalize the quantity before calculating the number of digits when parsing UBL
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Add scheduled task to cancel abandoned draft sale from web shop
  modules/web_shop/CHANGELOG
  modules/web_shop/ir.py
  modules/web_shop/sale.py
  modules/web_shop/sale.xml
  modules/web_shop/tests/test_module.py
  modules/web_shop/tryton.cfg
  modules/web_shop/view/shop_form.xml
  modules/web_shop/web.py
Due: documentation, check-flake8, check-isort

Explicitly set the previous view to switch to when opening a new Form
  sao/src/view/form.js
  sao/src/window.js
  tryton/tryton/gui/window/attachment.py
  tryton/tryton/gui/window/log.py
  tryton/tryton/gui/window/note.py
  tryton/tryton/gui/window/view_board/action.py
  tryton/tryton/gui/window/view_form/view/form_gtk/many2many.py
  tryton/tryton/gui/window/view_form/view/form_gtk/many2one.py
  tryton/tryton/gui/window/view_form/view/form_gtk/one2many.py
  tryton/tryton/gui/window/view_form/view/list_gtk/widget.py
  tryton/tryton/gui/window/win_form.py
  tryton/tryton/gui/window/win_search.py
Due: check-flake8, check-isort, check-eslint

Update documentation of web shop module
  modules/web_shop/CHANGELOG
  modules/web_shop/doc/design.rst
  modules/web_shop/doc/index.rst
  modules/web_shop/doc/releases.rst
  modules/web_shop/tryton.cfg
Due: documentation

Warn about using too much significant digits for float and numeric
  modules/account_invoice/payment_term.py
  modules/account_invoice/tests/test_module.py
  modules/currency/currency.py
  modules/product/uom.py
  modules/timesheet_cost/company.py
  trytond/trytond/model/fields/float.py
Due: check-flake8, check-isort, test-demo

Do not set a shipment cost method for Shopify order without shipping line
  modules/web_shop_shopify/sale.py
Due: check-flake8, check-isort

Display account moves field on stock move form
  modules/account_stock_continental/stock.xml
  modules/account_stock_continental/tryton.cfg
  modules/account_stock_continental/view/stock_move_form.xml
Due: documentation

Do not set width and height to 100% for <img/> of document
  sao/src/sao.less
Due: none

Clear Shopify ID for product template no more found on Shopify
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Group records written with the same values when saved
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/test_modelstorage.py
Due: check-flake8, check-isort

Remove unused company from depends for on_change_with of sale point's total
  modules/sale_point/sale.py
Due: check-flake8, check-isort

Use DueDate as fallback for payment term date for UBL without payment terms
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Do not compare to None PaymentDueDate value from findtext
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Format IBAN number after edition
  modules/bank/bank.py
Due: check-flake8, check-isort

Do not set twice the extension in the attachment name for the UBL documents
  modules/edocument_ubl/edocument.py
Due: check-flake8, check-isort

Fill code compact in party identifier history table
  modules/account_invoice_history/party.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
