Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Support query without where clause when searching on Many2One with where operator
  trytond/trytond/model/fields/many2one.py
  trytond/trytond/tests/test_field_many2one.py
Due: check-flake8, check-isort

Aggregate product by locations before applying filter when searching by quantity
  modules/stock/move.py
  modules/stock/tests/test_module.py
Due: check-flake8, check-isort, test-demo

Add login_service value when the redirection URL misses it
  modules/authentication_saml/routes.py
Due: check-flake8, check-isort

Set shipment address only when empty when changing party of sale amendment
  modules/sale_amendment/sale.py
Due: check-flake8, check-isort

Add missing invoice address when changing party of amendment
  modules/purchase_amendment/purchase.py
  modules/sale_amendment/sale.py
Due: check-flake8, check-isort

Allow to customize the storage of invoice report
  modules/account_invoice/invoice.py
Due: check-flake8, check-isort, test-demo

Use new non-readonly transaction to create journal-period from opening wizard
  modules/account/move.py
Due: check-flake8, check-isort, test-demo

Restore initial state when the execution of a wizard fails
  sao/src/wizard.js
  tryton/tryton/gui/window/wizard.py
Due: check-flake8, check-isort, check-eslint

Correctly translate "Building Number" in French
  modules/party/locale/fr.po
Due: test-demo

Add a refund line for Shopify refund that are not linked to items
  modules/web_shop_shopify/sale.py
  modules/web_shop_shopify/web.py
Due: check-flake8, check-isort

Return the quantity of sale line component for manual shipment method
  modules/product_kit/sale.py
Due: check-flake8, check-isort

Remove usage of warehouse field
  modules/product_cost_warehouse/stock.py
  modules/stock_location_move/tests/scenario_stock_location_move.rst
Due: check-flake8, check-isort

Support ModelStorage.search API in ResourceAccessMixin
  trytond/trytond/ir/resource.py
Due: check-flake8, check-isort

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
