Repository tryton/tryton: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, check-flake8, check-isort, check-eslint, check-cookiecutter-module, check-account-chart, check-trytond-rng, test-demo

documentation:
  stage: preparation
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/sphinxdoc/sphinx
  script:
  - .gitlab-scripts/generate-doc.sh docs
  - find docs -type f -not -name 'objects.inv' -delete
  - find docs -type d -empty -delete
  artifacts:
    paths:
    - docs/
    expire_in: 1 week

check-flake8:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - flake8 --exclude 'cookiecutter*'

check-isort:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  before_script:
  - .gitlab-scripts/doctest2python.py
  script:
  - isort --multi-line VERTICAL_GRID --check --diff --skip-glob 'cookiecutter*' .

check-eslint:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/node:lts
  variables:
    NODE_CACHE_DIR: $CI_PROJECT_DIR/.cache/npm
  cache:
    paths:
    - .cache/npm
  before_script:
  - sh .gitlab-scripts/bower_allow_root.sh
  script:
  - cd sao
  ...

check-cookiecutter-module:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install cookiecutter
  script:
  - cookiecutter --no-input cookiecutter-module -o "${TMPDIR}"
  ...

check-account-chart:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/alpine
  before_script:
  - apk add --no-cache libxslt
  script:
  - .gitlab-scripts/check-account-chart.sh

check-trytond-rng:
  stage: check
  needs: []
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/tryton/ci
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install rnc2rng
  script:
  - python trytond/setup.py update_rng
  ...

test-demo:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/python:3.9
  variables:
    TRYTOND_DATABASE__PATH: $TMPDIR
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    paths:
    - .cache/pip/http-v2
  before_script:
  - pip install packages/trytond* packages/proteus*
  script:
  ...

Always put form input inside an input-group to position accesskey
  sao/src/sao.less
  sao/src/view/form.js
Due: check-eslint

Flip expander and icons for RTL language
  sao/src/sao.less
Due: none

Add invoice relate from period and fiscal year
  modules/account_invoice/CHANGELOG
  modules/account_invoice/invoice.xml
Due: documentation, test-demo

Use ids from BrowseList instance instead of construct a new list
  trytond/trytond/model/fields/many2one.py
  trytond/trytond/model/modelsql.py
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Use defauldict for XML ID getter instead of construct a complete dict
  trytond/trytond/model/modelstorage.py
Due: check-flake8, check-isort

Add BrowseList for Model instances
  trytond/CHANGELOG
  trytond/doc/ref/models.rst
  trytond/trytond/model/__init__.py
  trytond/trytond/model/fields/function.py
  trytond/trytond/model/fields/many2many.py
  trytond/trytond/model/fields/one2many.py
  trytond/trytond/model/modelstorage.py
  trytond/trytond/tests/test_modelstorage.py
Due: documentation, check-flake8, check-isort

Manage products directly on category form
  modules/account_product/product.xml
  modules/account_product/view/category_form.xml
  modules/account_product/view/category_product_form.xml
  modules/product/CHANGELOG
  modules/product/category.py
  modules/product/category.xml
  modules/product/view/category_form.xml
  modules/product/view/category_product_form.xml
Due: documentation, check-flake8, check-isort, test-demo

Move supplier invoice sample PDF from document_incoming_ocr_typless to document_incoming_ocr
  modules/document_incoming_ocr/tests/supplier-invoice-sample.pdf
  modules/document_incoming_ocr_typless/tests/scenario_document_incoming_ocr_typless.rst
Due: check-flake8, check-isort

Raise TyplessError from the original exception
  modules/document_incoming_ocr_typless/document.py
Due: check-flake8, check-isort

Fix typo in setup documentation of Typless
  modules/document_incoming_ocr_typless/doc/setup.rst
Due: documentation

Fix typo in setup documentation of Typless (grafted from 62c60e2ee578e06d1d11ee8e26f83da4bea4b21a)
  modules/document_incoming_ocr_typless/doc/setup.rst
Due: documentation

Remove dependency to pytz and backports.entry-points-selectable
  trytond/pyproject.toml
  trytond/trytond/tools/timezone.py
Due: check-flake8, check-isort

User percent encoded name of inexistant database
  trytond/trytond/backend/sqlite/database.py
  trytond/trytond/tests/test_transaction.py
Due: check-flake8, check-isort

Test if there is a connection on the transaction before rollback or put
  trytond/trytond/transaction.py
Due: check-flake8, check-isort

Prepare release trytond-8.0.2
  trytond/CHANGELOG
Due: documentation

Add tag trytond-8.0.2
  .hgtags
Due: none

Increase version number
  trytond/trytond/__init__.py
Due: check-flake8, check-isort

Prepare release trytond-7.8.8
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.8.8
  .hgtags
Due: none

Prepare release trytond-7.6.20
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.6.20
  .hgtags
Due: none

Prepare release trytond-7.0.49
  trytond/CHANGELOG
Due: documentation

Add tag trytond-7.0.49
  .hgtags
Due: none

Prepare release tryton-8.0.2
  tryton/CHANGELOG
Due: documentation

Add tag tryton-8.0.2
  .hgtags
Due: none

Increase version number
  tryton/tryton/__init__.py
Due: check-flake8, check-isort

Prepare release tryton-7.8.7
  tryton/CHANGELOG
Due: documentation

Add tag tryton-7.8.7
  .hgtags
Due: none

Path conditions:
  documentation: any of: **/*/doc/**/*, **/*/tryton.cfg, **/*/CHANGELOG, doc/**/*
  check-flake8: any of: **/*.py, **/tests/*.rst
  check-isort: any of: **/*.py, **/tests/*.rst
  check-eslint: any of: sao/**/*.js
  check-cookiecutter-module: any of: cookiecutter-module/**/*
  check-account-chart: any of: modules/*/localize.xsl, modules/account/account_chart*.xml, modules/account_be/account_be*.xml, modules/account_be/tax_be*.xml, modules/account_es/account*.xml, modules/account_es/tax*.xml, modules/account_syscohada/account_syscohada*.xml
  check-trytond-rng: any of: trytond/**/*.rnc, trytond/**/*.rng
  test-demo: any of: demo/**/*, modules/{account,account_invoice,account_payment,account_statement,company,country,currency,party,product,production,production_routing,production_work,project,purchase,sale,stock,timesheet}/**/*
